.box >h2{
    /*background-color: #E4DAC8;
    box-sizing: border-box;
    padding: 4px;   */
    height: 44px !important;
    overflow: hidden;
}
.box >.product_s_desc{  /*background-color: whitesmoke;*/
    height: 53px;
    overflow: hidden;
}