body {
  background-image:url('newBG.gif');
  background-repeat:repeat-x;
  margin:0;
  background-color:#FFF0BD;
}

body, table {
  color:black;
  font-family:Helvetica, sans-serif;
  font-size:12px;
  line-height:18px;
}

a {
  color:#B71800;
  font-weight:normal;
  text-decoration:underline;
}

a img {
  border:0px;
}

.topbarTile {
  background-image:url('topbarTile.gif');
  background-repeat:repeat-x;
}

.topbarMid {
  background-image: url('topBar3.gif');
  background-repeat: no-repeat;
}

h1 {
  color:#B71800;
  font-size:14px;
  font-weight:bold;
  line-height:18px;
  padding-top:0;
  margin:0px;
}

h2 {
  font-size:12px;
  font-weight:bold;
}

.errorHighlight {
  background: #FF8888;
}

.homepageRed {
  color:#B71800;
  font-size:11px;
}

.footer, .footerFront {
  color:#B71800;
  font-size:10px;
  line-height:16px;
}

.footer {
  padding-bottom:20px;
  padding-top:10px;
}

.footerFront {
  padding-bottom:3px;
  padding-top:5px;
}

.footer a, .footerFront a {
  font-weight:bold;
}

.mainMenu {
  font-size:11px;
  font-weight:bold;
}

.mainMenuRed {
  color:#B71800;
  font-size:11px;
  font-weight:bold;
}

a.mainMenuRed {
  color:#B71800;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
}

a.mainMenuRed:hover {
  text-decoration:underline;
}

a.mainMenu {
  text-decoration:none;
}

a.mainMenu:hover {
  text-decoration:underline;
}

.menuItem {
  text-align:left;
  height:20px;
  width:220px;
  padding-left:40px;
  background-image:url('navBullet-wide.gif');
  background-repeat:no-repeat;
  background-position:center left;
}

.menuItemOn {
  text-align:left;
  height:20px;
  width:220px;
  padding-left:40px;
  background-image:url('navBulletOn-wide.gif');
  background-repeat:no-repeat;
  background-position:center left;
  color:#000000;
  font-size:11px;
  font-weight:bold;
}

.subMenuItem {
  text-align:left;
  height:20px;
  width:220px;
  padding-left:55px;
}

.subMenuItemOn {
  text-align:left;
  height:20px;
  width:220px;
  padding-left:55px;
  font-size:11px;
  font-weight:bold;
}

.servedSmall
{
  color:#EAA55B;
  font-size:10px;
  font-weight:bold;
}

.servedBig {
  color:#EAA55B;
  font-size:18px;
  font-weight:bold;
}

.menuBullet {
  font-size:10px;
  font-weight:bold;
}

a.menuBullet {
  text-decoration:none;
}

a.menuBullet:hover {
  text-decoration:underline;
}

.menuBulletItem {
  text-align:left;
  height:20px;
  padding-left:20px;
  background-image:url('navBullet.gif');
  background-repeat:no-repeat;
  background-position:center left;
}


hr {
  border: none;
  border-top: dotted 1px #d3d7cf;
  height: 1px;
  margin-left: 1em;
  margin-right: 1em;
}

.popupheader {
  background-image: url('popup-top-stretcher.gif');
  background-repeat: repeat-x;
  min-width: 450px;
  height: 56px;
  width: 100%;
}

.popupheader .logo {
  padding-left: 15px;
  float: left;
}

.popupheader .closewindow {
  padding-right: 15px;
  float: right;
}

.popupmain {
  width: 450px;
}

.popup-help .popup-help-column {
  display:inline;
  float: left;
  width: 50%;
}

.popup-help .popup-help-column div {
  padding: 10px 0px 10px 15px;
}

.popup-help #instructions ul {
  margin-left: 0;
  padding-left: 15px;
}

.popup-feedback {
  padding: 10px 15px;
}

.feedback-form fieldset {
  border:none;
  padding: 0px;
}

.feedback-form dt {
  font-weight:bold;
}

.feedback-form dd {
  margin: 10px 5px;
}

.feedback-form ul {
  padding-left: 0px;
}

.feedback-form li {
  padding-left: 0px;
  list-style: none;
}

.feedback-form #notes {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  width: 100%;
}

.feedback-form #submit {
  margin-top:10px;
  float:right;
}

pre.codeex {
  border: solid 1px #cba83f;
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 10px;
  padding-top:7px;
  padding-bottom:7px;
}

.tranEx {
  border: solid 1px #cba83f;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:15px;
  padding-bottom:15px;
}

table.funcdoc {
  border-collapse: collapse;
  border: 1px solid #cba83f;
  color: #000;
  background: #fff;
  width:100%;
}

table.funcdoc td, table.funcdoc th {
  border: 1px solid #cba83f;
  padding: 0.5em;
}

table.funcdoc td.funcdoc-param {
  width:40%;
}

table.funcdoc td.funcdoc-name {
  font-weight:bold;
}

table.funcdoc td.funcdoc-header {
  font-style:italic;
}

#migrate {
  width: 220px;
  position: relative;
  top: 55px;
  float: right;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #B71800;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 6px;
}

#guser {
  font-size: 13px;
  padding-bottom:5px;
  padding-right:5px;
  padding-top:4px !important;
  text-align:right;
}
