<?xml version="1.0" encoding="utf-8"?>
<config>	
	<fieldset name="update">
		<field name="downloadid" type="text" default="" size="50" label="COM_CSVI_DOWNLOAD_LABEL" description ="COM_CSVI_DOWNLOAD_DESC" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" component="com_csvi" section="component">
			<action name="core.admin" title="JACTION_ADMIN" description="JACTION_ADMIN_COMPONENT_DESC" />
			<action name="core.manage" title="JACTION_MANAGE" description="JACTION_MANAGE_COMPONENT_DESC" />
		</field>
	</fieldset>
</config>