button[type="submit"]{
	display:block; 
	margin:4px 0 10px 0; 
	padding:6px 10px;
}
div.imgBlock{
	max-width:120px;
	overflow:hidden;
	white-space:nowrap;
}
label{
	background-color: #CAF1A7;
	border-radius: 4px;
	display: inline-block;
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding: 4px 8px 4px 2px;
	white-space: nowrap;
	&.checked{
		background-color:#489136;
		color:#FFF;
	}
	&.top_section{
		border-radius: 5px;
		border-bottom: solid #A7D1A7;
		border-right: solid #A7D1A7;
		padding: 6px 12px 6px 4px;
	}
}
div#encodings{
	label{
		background:transparent;
	}
}
.come{
	background-color:#FFCC00;
}
table#tblRecs{
	tr{
		td{
			padding:4px;
			&:not(:last-child){
				border-right:solid 1px #999;
			}	
		}
		&:first-child{
			background-color:#CCC;
		}
		th{
			padding:6px;
			&:not(:first-child){
				border-left:solid 1px #999;
			}
		}
	}
}

/*table tr td:not(:last-child){
	border-right:dashed 1px #999;
}
th{
	padding:4px;
}*/
