/* $Rev: 18427 $ */

/* Style information for my_account_links module */

div.my_account_links_header { 
	
}

div.my_account_links_header TABLE {
	width: 222px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

div.my_account_links_body { 
	width: 220px;
	border: 1px solid #666666;
}

.titleWidth {
	width: 198px;	
}

ul.my_account_links_list {
	list-style-type: none;
	margin: 5px;
	padding: 0px;
}



li.my_account_links_heading {
	text-align: center;
	font-weight: bold;
	background-color: #eeeeee;
}

.user_links { 
	font-family: Verdana,Geneva,sans-serif; 
	font-size: 10pt;
	font-style: normal; 
	font-weight: bold; 
	color: #666666;
	text-align: left;
}

a.user_links {
	text-decoration: underline; 
}

.icon_links_ie_fix {
	/* otherwise IE tries to underline the icons... */
	text-decoration: none;
}

.needs_attention {
	color: #FF0000;
}

.cartIcon img {
	/* This is the cart icon image */
	
	/* Negate the padding top of 5px so text will be aligned correctly */
	margin-top: -5px;
}

.miniCartBox {
	/* This is the "## items" and cost box */
	white-space: nowrap;
	text-align: right;
	padding-top: 5px;
	padding-right: 15px;
}
