/* default sass file */
@import "compass";
@import "layout.scss";
@import "variables.scss";
@import "mixins.scss";
@import "tags.scss";
@import "classes.scss";

#authorize{
  border-left: solid 1px #5A2F30;
}
#bid-sum-p{
  border-top: solid 1px $brown;
  border-bottom: solid 1px $brown;
  padding: 10px 0;
}
#bids-history{
  max-height: 110px;
  overflow: auto;
  border: solid #8A6969 1px;
}
#board {
  bottom: 5px;
  color: $superDark;
  font: normal 15px Verdana, Geneva, sans-serif;
  height: 60px;
  left: 30px;
  position: absolute;
  text-align: center;
  width: 225px;
}
#clock {
  color: $mediumDark;
  float: left;
  font: normal 18px Verdana, Geneva, sans-serif;
  left: 10px;
  position: absolute;
  top: 15px;
}
#content {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 1px 10px 0 10px;
  position: relative;
}
#copyright{
  @media (max-width: 480px) {
    float: right !important;
    height: 18px !important;
    line-height: 18px !important;
    margin-right: 15px;
  }
}
#dOutput{
  background-color:#FF9;
  border:solid 2px #CCC;
  border-radius:6px;
  display: inline-block;
  max-width:50%;
  overflow:auto;
  padding:10px;
  position:fixed;
  top:40px;
  bottom:10px;
  right:10px;
  *{
    line-height: 19px;
  }
}
#footer{
  @media (max-width: 480px) {
    background-color: #417337 !important;
    overflow: hidden !important;
    height: auto !important;
    padding-top: 10px !important;
  }
}
#header {
  background: url(../images/header.png) 130px 0 no-repeat;
  height: 280px;
  left: 0;
  position: relative;
  top: 0;
  @media (max-width: 480px){
    height: auto;
    background-size: 313px 140px;
    background-position-x: 119px;
    margin-right: 15px;
  }
}
#left_part {
  box-sizing: border-box;
  margin-top: 8px;
  padding-left: 10px;
  padding-top: 0;
}
#logo-box{
  @media (max-width: 480px) {
    height: 46px !important;
    line-height: 46px !important;
    padding: 0 19px 0;
    width: 100% !important;
  }
}
#logo_img {
  background: url(../../../templates/auction/images/temp/logo2.png) no-repeat center;
  background-size: 100%;
  height: 176px;
  left: 8%;
  position: absolute;
  top: 21px;
  width: 116px;
  @media (max-width: 480px) {
    #logo_img{
      top: 5px;
      height: 115px;
      left: 24px;
      width: 76px;
    }
  }
}
#logo_text {
  left: 17px;
  position: absolute;
  top: 219px;
  &::before{
    @media (max-width: 480px) {
      content:"Антикварные сезоны - аукцион и магазин";
    }
  }
}
#left_part {
  color: $veryDarkLink;
  float: left;
  font: normal 16px calibri, Verdana, Geneva, sans-serif;
  width: 200px;
  @media (max-width: 480px) {
    background:url(../../images/body_bg.jpg) 0 0 repeat;
    box-shadow: 8px 8px 18px 4px rgba(0,0,0, 0.5);
    max-width: 420px;
    position: absolute;
    top: 4px;
    transform: translateX(-114%);
    transition: transform 0.5s ease;
    width: auto;
  }
  &.visible{
    @media (max-width: 480px) {
      transform: translateX(0);
    }
  }
}
#logIn {
  height: 203px;
  padding-top: 1px;
  position: relative;
  top: 0;
  width: 290px;
}
#logIn_wrapper{
  background:url(../images/login.png) 0 0 no-repeat;
}
#main_content {
  color: $mediumRedDark;
  font: normal 14px/17px Verdana, Geneva, sans-serif;
  padding: 1px 15px;
  @media (max-width: 480px) {
    margin-left: 0;
    margin-top: 10px;
    border-top: solid 1px #417337;
  }
}
#main_menu{
  padding-top:20px;
  background:url(../images/menu_bg.png) no-repeat 0 -5px;
  background-size: 100% 106%;
  height:50px;
  left:0px;
  margin-top:-2px;
  position: relative;
  width: 100%;
  @media (max-width: 480px) {
    background-position: 0 0;
    background: transparent !important;
    background-size: 100% 60px !important;
    height: auto !important;
    overflow: hidden;
  }
}
#make_bid{
  margin-top: 30px;
}
#padd_bot_menu{
  @media (max-width: 480px) {
    overflow: hidden;
    margin-left: 15px !important;
  }
}
#page {
  margin: 0 auto;
  max-width: 990px;
}
#pic_top {
  background: url('../images/top_image.jpg') no-repeat;
  height: 211px;
  margin-left: 146px;
  position: relative;
  @media (max-width: 480px) {
    #pic_top{
      background-position-y: bottom;
      background-position-x: -24px;
      background-size: 165%;
      height: 117px;
      margin: auto 2px auto auto;
      width: 306px;
    }
  }
}
#right_part {
  color: #172a17;
  float: right;
  font: normal 16px calibri, Verdana, Geneva, sans-serif;
  width: 290px;
}
#sel_bids{
  height: 26px;
}
#search_box{
  height: 40px;
  margin-right: 6px;
  padding: 5px;
  padding-right: 8px;
}
#thanx-page{
  padding: 40px;
}
/*@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}*/
