@charset "UTF-8";
/* default sass file */
@import "compass";
@import "fonts";
@import "variables";
@import "mixins";
@import "classes";
@import "tags";
@import "layout";
@import "media-blocks";

#add_to_favorite{
  @media (max-width: $media-middle) {
    display: block !important;
    padding: 6px 10px !important;
  }
}
#authorize{
  background: url(../images/pointer.png) no-repeat 10px;
  float: right;
  font-family: $font-common;
  font-size: 11px;
  height: 26px;
  line-height: 26px;
  margin-right: 20px;
  text-decoration: none;
  padding-left: 24px;
  @media (max-width: $media-middle) {
    margin-right:7%;
  }
  #user-go &{
    color:$linkColorSandCommon;
  }
}
#bid-sum-p{
  border-top: solid 1px $brown;
  border-bottom: solid 1px $brown;
  padding: 10px 0;
}
#bids-history{
  border: solid #8A6969 1px;
  max-height: 110px;
  overflow: auto;
}
#board {
  bottom: 5px;
  color: $superDark;
  font: normal 15px $font-common;
  height: 60px;
  left: 30px;
  position: absolute;
  text-align: center;
  width: 225px;
}
#bottom_menu{
  div#footer & {
    margin: 0 auto;
    text-align: center;
  }
}
#clock {
  color: $mediumDark;
  float: left;
  font: normal 18px $font-common;
  left: 10px;
  position: absolute;
  top: 15px;
}
#content {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  @media (max-width: $media-middle){
    padding-left: 15px;
    padding-right: 15px;
  }
}
#copyright{
  color:#fbe8b3;
  @include bottomBlocksHeight;
  float:left;
  font:normal 13.5px/14px calibri, $font-common;
  padding-left: 10px;
  //top:24px;
  @media (max-width: $media-middle) {
    float: right !important;
    height: 18px !important;
    line-height: 18px !important;
    margin-right: 15px;
  }
}
#dOutput{
  background-color:#FF9;
  border:solid 2px #CCC;
  border-radius:6px;
  bottom:10px;
  display: inline-block;
  max-width:50%;
  overflow:auto;
  padding:10px;
  position:fixed;
  top:40px;
  right:10px;
  *{
    line-height: 19px;
  }
}
#footer{
  background-color: #437339;
  border-top: solid #739255;
  overflow: hidden !important;
  @media (max-width: $media-middle) {
    //background-color: #417337 !important;
    height: auto !important;
    padding-top: 10px !important;
  }
}
#form-limit{
  margin: 10px 16px;
}
#galleryThumbs{
  margin-top: 5px;
  text-align: center;
  width: 336px;
}
#header {
  //background: url(../images/pattern.jpg);
  //background-size: inherit;
  left: 0;
  min-width: 450px;
  position: relative;
  top: 0;
  @media (max-width: $media-middle){
    height: auto;
    background-position-x: 119px;
    margin-right: 15px;
  }
}
#header-left-inside{
  @include box-shadow(0 -35px 30px -14px rgba(0,0,0,0.5) inset);
  display: none;
  height: 79px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}
#header-left-side,
#header-right-side{
  height: 146px;
}
#header-left-side{
  background: url(../images/logo.png) no-repeat 4.5% 45px;
  position: relative;
  width: 46.85%;//42.65%;
  @media (max-width: $media-middle) {
    background-position-y: 32px;
  }
  @media (max-width: $media-middle-next) {
    height: 140px;

  }
}
#header-right-side{
  background: url(../images/horses.jpg) no-repeat;
  background-size: cover;
  width: 53.15%;//57.35%;
}
#left_part {
  @include box-sizing(border-box);
  color: $veryDarkLink;
  float: left;
  font: normal 16px calibri, $font-common;
  margin-top: 8px;
  padding-left: 10px;
  padding-top: 0;
  width: 200px;
  @media (max-width: $media-middle) {
    background:url(../images/body_bg.jpg) 0 0 repeat;
    box-shadow: 8px 8px 18px 4px rgba(0,0,0, 0.5);
    max-width: 420px;
    position: absolute;
    top: 4px;
    transform: translateX(-114%);
    transition: transform 0.5s ease;
    width: auto;
    z-index: 1;
  }
  &.visible{
    @media (max-width: $media-middle) {
      transform: translateX(0);
    }
  }
}
#logo-box{
  @include box-sizing(border-box);
  float: left;
  height: 50px;
  margin-right: -20px;
  margin-top: -10px;
  overflow: hidden;
  width: 33%;
  @media (max-width: $media-middle) {
    height: $menuHeight !important;
    line-height: $menuHeight !important;
    padding: 0 19px 0;
    width: 100% !important;
  }
}
#logo_img {
  background: url(../../../templates/auction/images/temp/logo2.png) no-repeat center;
  background-size: 100%;
  height: 176px;
  left: 8%;
  position: absolute;
  top: 21px;
  width: 116px;
  @media (max-width: $media-middle) {
    top: 5px;
    height: 115px;
    left: 12px;
    width: 76px;
  }
}
#logo-texts{
  bottom: 29px;
  left: 22%;
  position: absolute;
  @media (max-width: $media-narrow) {
    display: none;
  }
  @media (max-width: $media-middle) {
    margin-top: 37px;
  }
  @media(max-width: $media-middle-next) {
    left: 30%;
  }
}
#logo-texts-inside{
  position: relative;
}
#logIn {
  height: 203px;
  padding-top: 1px;
  position: relative;
  top: 0;
  width: 290px;
}
#logIn_wrapper{
  background:url(../images/login.png) 0 0 no-repeat;
}
#main_content {
  color: $mediumRedDark;
  font: normal 14px/17px $font-common;
  padding: 1px 15px;
  @media (max-width: $media-middle) {
    margin-left: 0;
    margin-top: 10px;
    border-top: solid 1px #417337;
  }
}
#main_menu{
  background-size: 100% 106%;
  height: $menuHeight;
  left:0px;
  position: relative;
  top: -1px;
  width: 100%;
  @media (max-width: $media-middle) {
    background-position: 0 0;
    background: transparent !important;
    background-size: 100% 60px !important;
    height: auto !important;
    overflow: hidden;
  }
}
#make_bid{
  margin-top: 30px;
}
#mobile-menu-proposal{
  float: right;
  margin: 0;
  padding: 0;
}
#padd_bot_menu{
  div#footer #bottom_menu &{
    margin-left:30px;
  }
  @media (max-width: $media-middle) {
    margin-left: 15px !important;
    overflow: hidden;
  }
}
#page{
  background: url(../images/header.png) repeat-x;
  @media (max-width:768px){
	background-position: 0 -26px;
  }
}
#pic_top {
  margin-left: 1%;
  overflow: hidden;
  position: relative;
  @media (max-width: $media-middle) {
    background-position: left bottom;
    height: 117px;
    margin: auto 2px auto auto;
    margin-left: 17px;
    width: 94%;
  }
}
#right_part {
  color: #172a17;
  float: right;
  font: normal 16px calibri, $font-common;
  width: 290px;
}
#sel_bids{
  height: 26px;
}
#search_box{
  @include box-sizing(border-box);
  height: $menuHeight;
  margin-right: 6px;
  padding-top: 5px;
  width: 23%;
  @media (max-width: $media-middle){
    left: 245px;
    position: absolute;
    right: 120px;
    width: initial;
  }
}
#searchForm{
  display: none;
}
#tbl-bid-history{
  width:100%;
}
#thanx-page{
  padding: 40px;
}
#user-go {
  background-color: #2b4519;
  height: 26px;
  @include opacity(0.7);
  left: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 1;
}
#your_order{
  margin-bottom: 2px;
  padding-top: 10px;
  text-align: right;
}