@mixin buttonSandCool(){
  background-color:$sandDark;
  border: solid 1px darkkhaki;
  color:$almostBlack;
  font-size:14px;
  font-weight:bold;
  margin-top:10px;
  padding:8px 12px;
  &.cancel{
    background-color:$sandGrey;
  }
}
@mixin liActive{
  text-decoration:none;
  color:#e9e4bc;
}
@mixin subMenu{
  color:#fad674;
  font:bold 12px/13px Verdana, Geneva, sans-serif;
  height:18px;
  padding:5px; display:block;
  text-decoration:none;
  text-transform:uppercase;
}