@mixin bottomBlocksHeight{
  height: 45px;
  line-height: 45px;
}
@mixin buttonAsLink{
  background: none;
  border: none;
  color: $brownDark;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0px;
  padding: 0;
}
@mixin buttonSand{
  background:#fbe5ab;
  border:none;
  color:#735120;
  display:block;
  font:normal 12px/13px calibri, Verdana, Geneva, sans-serif;
  margin:0;
  margin-bottom:5px;
  padding:4px 7px 3px 7px;
}
@mixin buttonSandCool(){
  background-color:$sandDark;
  border: solid 1px darkkhaki;
  color:$almostBlack;
  font-size:14px;
  font-weight:bold;
  margin-top:10px;
  padding:8px 12px;
  &.cancel{
    background-color:$sandGrey;
  }
}
@mixin flat{
  border:none;
  display:inline;
  margin:0;
  padding:0;
}
@mixin hr-space($padding-top:0px){
  display: block;
  clear: both;
  border: none;
  padding-top: $padding-top;
}
@mixin imHeader{
  font-size: 14px;
  a{
    height: auto;
    text-decoration: none !important;
  }
}

@mixin liActive{
  text-decoration:none;
  color:#e9e4bc;
}
@mixin liUserMenu{
  list-style: none;
  padding:10px 0 9px 0;
  text-align: left;
  a:not(.H2){
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
    &.first-point{
      padding-top:18px;
    }
  }
}
@mixin margins-wide{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
@mixin menuLink($offset,$text-transform:uppercase){
  @include box-sizing(border-box);
  color:$linkColorSand !important;
  font:bold 12px/13px $font-common !important;
  @media (max-width: $media-middle-next) {
    font-weight: normal !important;
  }
  height: $menuHeight !important;
  line-height: $menuHeight !important;
  padding: 3px $offset !important;
  text-decoration:none;
  text-transform:$text-transform;
  &:hover{
    @include liActive;
  }
}
@mixin message_area{
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: auto;
  padding: 10px;
}
@mixin tdMobileBlock480{
  div#main_content.left table.cabinet tr &:not(:nth-child(1)):not(:nth-child(2)) {
    @media (max-width: $media-middle) {
      display: block !important;
    }
  }
}
@mixin tdMobileBlockBorderRight480{
  div#main_content.left table.cabinet tr &:nth-child(1),
  div#main_content.left table.cabinet tr &:nth-child(2) {
    @media (max-width: $media-middle) {
      &:not(:last-child){
        border-right: solid 1px;
      }
    }
  }
}
@mixin mxWidth($max){
  max-width:$max;
}
@mixin subMenu{
  color:#fad674;
  font:bold 12px/13px Verdana, Geneva, sans-serif;
  height:18px;
  padding:5px; display:block;
  text-decoration:none;
  text-transform:uppercase;
}
@mixin txtBrown{
  color: rgb(132, 17, 19);
}
@mixin thinBrownHeader{
  border-bottom: solid 1px;
  border-top: solid 1px;
  color:$brown;
  font-size:16px;
  font-weight:normal;
  margin: 0;
  margin-bottom:10px !important;
  padding: 6px;
}

@mixin box{
  display:inline-block;
  font-size: 13px;
  padding:5px;
  @include txtBrown;
  vertical-align:top;
  width: 226px;
}
@mixin headerThin2{
  @include thinBrownHeader;
  a {
    text-decoration:none;
  }
}

@mixin watch_block{
  a{
    display: block;
    margin: 2px auto;
    text-decoration: none;
    &:hover{
      background-color: white;
      text-decoration: underline;
    }
  }
  tr{
    td{
      &:last-child{
        white-space: nowrap;
      }
    }
  }
}