// tags
a {
  outline: none;
  &.home{
    display: none;
  }
  &.lots_count{
    color: $veryDarkLink;
    font-weight:300;
  }
  section &{
    color:$brown;
    font-family: $font-common;
  }
  div.top_list_mn div &{
    color:$brown;
    font-size:13px;
    font-weight: bold;
    text-decoration: underline;
  }
  div#footer #bottom_menu #padd_bot_menu li &{
    @include menuLink(6px);
    color:$linkColorSand !important;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    @include bottomBlocksHeight;
    margin: 0 1px;
    padding:0 12px !important;
    text-decoration:none;
    text-transform:uppercase;
    &:hover{
      text-decoration:none;
    }
    @media (max-width: $media-middle){
      height: 24px !important;
      line-height: 24px !important;
    }
  }
  div#signup_auction &{
    font-size:13px !important;
  }
  div#usermenu div.moduletable ul.menu li &.H2{
    @include thinBrownHeader;
    padding-top:5px;
  }
  #board & {
    font: normal 14px $font-common;
    color: $superDark;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #header-left-side &{
    height: 100%;
    position: absolute;
    width: 100%;
  }
  #header-left-inside &{
    text-decoration: none;
  }
  #left_part & {
    color: $brownDark;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  #left_part h3 &{
    font-size: 18px;
    text-decoration: none;
  }
  #left_part ul li & {
    color: #172a17;
    font-weight: bold;
    text-decoration: none;
  }
  #left_menu ul li & {
    color: $veryDarkLink;
    text-decoration: none;
    font-weight: bold;
  }
  #left_menu ul li & span {
    color: $veryDarkLink;
  }
  #left_menu ul li.active &,
  #left_menu ul li.active & span,
  #left_menu ul li &:hover,
  #logIn &{
    display:block;
    /*font-size:14px;*/
    font-size:11px;
    margin-top:5px;
  }
  #logo-box &{
    position: static;
    @media (max-width: $media-middle) {
      color: #386430;
      font-size: 1.2em;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        color: #789D50;
      }
    }
  }
  #logo-texts-inside &{
    display: block;
    text-decoration: none;
  }
  #main_content &{
    color: $brownDark;
  }
  #main_menu ul:not(#mobile-menu-proposal).menu li.active >&{
    @media (max-width: $media-middle) {
      display: inline !important;
    }
  }
  #main_menu ul:not(#mobile-menu-proposal) li &{
    @media (max-width: $media-middle) {
      float: none !important;
      color: #ead8b0 !important;
    }
    @media (max-width: $media-middle){
      font-weight: normal !important;
    }
    &.border{
      @media (max-width: $media-middle) {
        display: inline-block;
      }
    }
    &.flat{
      @media (max-width: $media-middle) {
        border-top: solid 10px transparent;
        border-bottom: 0;
        display: inline-block;
        height: auto;
      }
    }
  }
  #main_menu >ul:not(#mobile-menu-proposal) >li >&{
    float:left;
    @include menuLink(0px);
    @media (max-width: $media-middle){
      height: 24px !important;
      line-height: 24px !important;
    }
  }
  #main_menu >ul:not(#mobile-menu-proposal) >li.active &{
    @include liActive;
    @include subMenu;
    padding:0;
    text-decoration: none;
    color: #e9e4bc;
  }
  #main_menu >ul:not(#mobile-menu-proposal) >li >ul >li &{
    border-bottom:1px solid #e9e4bc;
    padding-bottom:0px !important;
    width:100%;
    @include subMenu;
    &:hover{
      @include liActive;
    }
    &:last-child{
      margin-bottom:1px;
    }
    @media (max-width: $media-middle) {
      border: none !important;
      height: 15px !important;
    }
  }
  #main_menu >ul:not(#mobile-menu-proposal) >li >ul >li:last-child &{
    border-bottom: none;
  }
  #main_menu >ul:not(#mobile-menu-proposal) >li >ul >li.active &{
    @include liActive;
    @include subMenu;
  }
  #mobile-menu-proposal &{
    @include menuLink(1.8%,none);
    height: 41px !important;
    line-height: normal !important;
    margin-top: 4px;
    padding-top: 15px !important;
    @media(min-width: $media-middle) {
      background-color: $greenDark;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    font: normal 14px/17px $font-common;
    padding: 10px;
    @media (max-width:900px) {
      margin-bottom: 2px;
      margin-right: auto;
      padding-right: 20px !important;
    }
    @media (max-width: $media-middle) {
      margin-top: -8px;
    }
    @media (max-width:$media-very-narrow) {
      padding-right: 12px !important;
      padding-top: 18px !important;
    }
  }
  #user-go &{
    color:$linkColorSandCommon;
    text-decoration: none;
  }
  #padd_bot_menu ul &{
    @media (max-width: $media-middle) {
      border: none !important;
    }
  }
  #pic_top section & {
    font-size: 0.85em;
    line-height: 40px;
    padding: 10px;
  }
  #right_part &{
    color:$brownDark;
    text-decoration:underline;
    &:hover{
      text-decoration:none;
    }
  }
  #right_part div[class*="-go_catalogues"] div.custom-go_catalogues &{
    color:$brownDark;
    text-transform:uppercase;
  }
  #usermenu-container li &.H2{
    @include thinBrownHeader;
    padding-top:5px !important;
    padding-bottom: 5px !important;
  }
  .result-title &{
    text-decoration: none;
  }
  ul.buttons li div &{
    text-decoration:none !important;
    font-size:12px;
    &:hover{
      text-decoration:none !important;
    }
  }
  ul.table li &{
    &:hover{
      text-decoration:underline !important;
    }
  }
}
aside{
  #pic_top section & {
    background-color: white;
    border-radius: 6px;
    display: none;
    opacity: 0.45;
    transition: all 0.3s ease;
    &:hover{
      opacity: 0.1;
    }
  }
}
body {
  padding: 0;
  margin: 0;
  background: url(../images/body_bg.jpg) 0 0 repeat;
}
button{
  form#ask_form &{
    @include buttonSandCool;
  }
  div#main_content.left table.cabinet tr td:first-child &{
    border: 1px solid #CACBCC;
    color:$brownDark;
    font-family:Verdana;
    font-size: 12px;
    margin: 6px auto 5px 1px;
    padding: 3px 5px 2px 5px;
  }
  div#main_content.left form#formGoLogout &.button{
    @include buttonAsLink;
  }
}
div{
  &#footer{
    //background:url(../images/footer.png) 0 0 no-repeat;
    //height:20px;
    //padding-top:24px;
    position:relative;
  }
  &#main_content.left{
    margin-left: $left-edge-offset;
    @media (max-width: $media-middle) {
      margin-left: 0;
    }
  }
  &.item-page-shop {
    * {
      font-family: Verdana;
    }
  }
  div.item-page-shop &{
    &.box{
      @include box;
      margin-right: 6.352%;
      //width: 27%;
    }
  }
  div.item-page-shop .box &{
    &.img {
      background-color: rgb(255, 255, 255);
      border: $img-border-common;
      height: 228px;
      line-height: 228px;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: center;
      vertical-align: middle;
      width: 226px;
    }
    &.PricesalesPrice{
      min-height: 35px;
    }
  }
  &.lots_listing {
    border-top: $borderThickBrown;
    border-bottom: $borderThickBrown;
    color: rgb(132, 17, 19);
    display: block;
    font-family: Verdana;
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 7px;
  }
  &.top_list_mn{
    height: 25px;
    margin-top: 10px;
    text-align:right;
  }
  div.top_list &{
    position: relative;
    &.top_list_mn{
      display: inline-block;
      float:right;
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 19px;
    }
  }
  div.top_list h2 &{
    &.weak{
      display:inline-block;
      line-height:29px;
    }
  }
  div.top_list_mn &{
    display: inline-block;
    float:right;
    margin-right:20px;
  }
  div#footer #bottom_menu #padd_bot_menu &.mailru_counter{
    display:inline-block;
    float:right;
    margin-right:40px;
    width:auto;
  }
  div#main_content.left &{
    @include box-sizing(border-box);
    &.para{
      margin:20px 0;
    }
    &#user_column{
      float: left;
      @include mxWidth(140px);
    }
  }
  div#main_content.left &#content_column_wide{
    /*float: left;
    @include mxWidth(600px);
    margin-right:-40px;
    padding-left:10px;
    width:600px;*/
    padding-left: 140px;
  }
  div#main_content.left &#login_area{
    margin: 20px 80px;
  }
  div#main_content.left  div#login_area form#sign-in div.login-fields &{
    display:inline-block;
    /*width:170px;*/
    color: #666;
    clear: both;
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana;
    padding: 2px 5px;
    text-align:right;
    width: 150px;
  }
  div#main_content.left div#user_column &.content_box{
    min-height:157px;
    width:138px;
  }
  div#content div#main_content &{
    &.vmPag{
      display:inline-block;
      float:right;
      margin-right:6px;
      max-width: 60%;
    }
  }
  div#usermenu &.moduletable{
    position:relative;
  }
  #copyright >&{
    color: #709454;
  }
  #logo-texts >&{
    @include transform(scaleX(1.07));
    margin-left: -4px;
  }
  #logo-texts-inside >&{
    color: $font-color-sand;
    position: absolute;
    top: -16px;
    width: 100%;
  }
  #proposal_form >&:not(.form_item){
    margin-top: 5px;
  }
  #proposal_form &{
    &.cfclear{
      height: 4px;
    }
  }
  #registration_form &{
    margin-top: 5px;
  }
  #right_part div[class*="-acy_subscribe"] &.acymailing_module_form{
    width:200px;
  }
  .test_content_box pre &{
    text-align:left;
    &.border{
      border: dashed 1px #666;
      margin: 8px auto;
      padding: 10px;
    }
  }
  &.search{
    #search_box form & {
      height: 34px;
      margin-top: 7px;
      overflow: hidden;
      position: relative;
    }
  }
  &#signup_auction{
    margin-left: 66px;
    padding: 1px;
    padding-top: 6px;
  }
  ul.buttons li &{
    @include buttonSandCool;
    display:inline-block;
    padding: 6px 12px;
  }
}
fieldset{
  div#main_content.left  div#login_area div.login form &{
    border: none;
  }
}
form {
  padding: 0;
  margin: 0;
  #logIn &{
    /*padding: 13px 0 0 0px;
    padding-left: 28px;
    width:160px;*/
    padding:14px 0 0 0px;
    padding-left:20px;
    width:160px;
  }
  #search_box &{
    overflow: hidden;
    width: 81.5%;
  }
  div#main_content.left  div#login_area div.login &{
    margin-left: -10px;
  }
  div.lots_listing &{
    &#add_to_favorite{
      @include flat;
    }
  }
  &#registration_form,
  &#proposal_form,
  &#ask_form{
    display: inline-block;
  }
}
h1{
  #header-left-side &,
  #logo-texts-inside &{
    color: $linkColorSandCommon;
    font-family: AcademyRegular;
  }
  #header-left-side &{
    font-size: 22px;
    margin: 0;
    margin-top: 10px;
    text-transform: uppercase;
    @include transform(scaleX(1.1));
    @media(max-width: $media-middle-next) {
      float: right;
      font-size: 16px;
      line-height: 22px;
      margin-right: -44px;
    }
    @media(max-width: $media-wide) {
      width: 200px;
    }
  }
  #logo-texts-inside &{
    font-family: AcademyRegular;
    font-size: 34px;
    @include text-shadow(1px 1px 6px rgba(0,0,0,1));
  }
  #main_content &{
    color: $brownDark;
    font: normal 22px $font-common;
    margin: 20 0 0 15px;
  }
  .testPadding &{
    margin:4px;
    padding:4px;
  }
}
h2 {
  .box &{
    height: 34px; // 44px !important
    overflow: hidden;
  }
  .content_box &.title{
    margin-top: 8px;
    margin-bottom: 20px;
  }
  &.title{
    @media (max-width: $media-middle) {
      line-height: normal !important;
    }
  }
  div.item-page-shop .box &{
    @include imHeader;
  }
  div.item-page-shop.fulltime &{
    @include imHeader;
  }
  div.top_list &{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    max-width: 400px;
    margin-bottom: 0px;
    margin-top:10px;
    @include txtBrown;
  }
}
h3 {
  #left_part &{
    color: $brownDarkUltra;
    margin: 10px 0;
    font: normal 18px $font-common;
    text-transform: uppercase;
  }
  #right_part &{
    color:#6d4721;
    margin:10px 0;
    font:normal 18px $font-common;
    text-transform:uppercase;
  }
  div#main_content div.item-page-rules div &{
    font-weight:300;
  }
  #left_part &{
    color: $brown;
    font-size:18px;
    font-weight:bold;
    margin: 5px 0px 4px 0px;
    text-transform:none;
  }
  #right_part div[class*="-acy_subscribe"] &{
    color:$brownDark;
  }
  #right_part div[class*="-go_catalogues"] div.custom-go_catalogues &{
    margin:24px 0 auto auto;
  }
}
h4{
  .test_content_box pre &{
    margin:0;
    text-align:left;
  }
}
hr{
  &.border{
    border-style: none;
    &.bottom{
      margin-top: 15px;
      border-bottom: $borderThickBrown;
    }
  }
  &.divider{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 2px;
    height: 0px;
    margin-bottom: 2px;
  }
}
img {
  border: none;
  @media (max-width: $media-middle) {
    #logo_text &{
      display: none;
    }
  }
  #header_bid &{
    float: left;
  }
  #logo-box a &{
    padding-left: 17px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 81.5%;
  }
  .search-results &{
    border: $img-border-common;
    display: inline-block;
    height: 226px;
    margin-bottom: 6px;
    margin-right: 44px;
    vertical-align: middle;
  }
  div.item-page-shop .box div.img &{
    vertical-align: middle;
  }
}
input{
  #proposal_form &[type="text"]{
    width: 66%;
  }
  #search_box div.search &.inputbox{
    border: none;
    margin-left: 5%;
    padding: 5px 6px;
    width: 100%;
    @media (max-width: $media-middle){
      left: 0;
      //width: 100%;
    }
  }
  &#enter_auction{
    float:left;
    font-size:14px;
    margin-top:2px;
    margin-left: 1px;
    width: 53px;
  }
  &#modlgn_passwd{
    margin-top:2px;
  }
  #logIn &[id^="modlgn_"]{
    background-color:#FBE5AB;
    border:none;
    font-family:Verdana;
    padding: 3px 7px 2px 7px;
  }
  #logIn form &[type="submit"]{
    @include buttonSand;
    margin:4px;
  }
  div.lots_listing form#add_to_favorite &{
    &[type="submit"]#btn_favor{
      @include buttonAsLink;
      font-family: Verdana;
      margin: 0;
      text-decoration: underline;
    }
  }
  form#ask_form &[type="submit"],
  form#ask_form &[type="reset"]{
    @include buttonSandCool;
  }
  .acysubbuttons &{
    &.btn-primary{
      @include buttonSandCool;
    }
  }
}
label{
  #search_box div.search &{
    display:none;
  }
  form#ask_form &,
  form#proposal_form &,
  form#registration_form &
  {
    @include label-common;
    &.cf_label{
      margin-top: -4px;
    }
  }
}
li{
  @media (max-width: $media-middle) {
    #padd_bot_menu ul & {
      display: list-item !important;
    }
    .menu:not(#mobile-menu-proposal) &.active{
      @include box-shadow(0px 18px 22px rgba(255,255,255,0.3) inset);
    }
  }
  .menu:not(#mobile-menu-proposal) &.active{
    @include liActive;
  }
  div#footer #bottom_menu #padd_bot_menu ul &{
    display:table-cell;
    white-space:nowrap;
  }
  div#main_content.left div#user_column div.content_box ul &{
    @include liUserMenu;
  }
  div#usermenu div.moduletable ul.menu &{
    @include liUserMenu;
  }
  ul.table &{
    display:table-cell;
    list-style:none;
    text-align:center;
    width:33%;
    white-space:nowrap;
  }
  #left_part &{
    color: $brownDark;
  }
  #main_menu ul &{
    display:table-cell;
    //padding-right: 7px;
    position:relative;
    white-space: nowrap;
    @media (max-width: $media-middle) {
      background-color: rgb(65, 115, 55);
      border: none !important;
      color: #ead8b0 !important;
      display: list-item !important;
      overflow: hidden;
      padding: 0 8px 4px 15px;
      @include box-sizing(border-box);
    }
    &.deeper {
      color:$linkColorSand;
      &:hover > & {
        @media (min-width: $media-middle) {
          display: block !important;
        }
      }
    }
  }
  #main_menu >ul:not(#mobile-menu-proposal) >&{
    &:first-child{
      display: none !important;
      /*@media (max-width: $media-middle) {
      }*/
    }
  }
  #main_menu >ul >li >ul >& {
    display:block;
    padding-right: 8px;
    white-space:nowrap;
    @media (max-width: $media-middle) {
      padding: 0 8px 0 8px;
    }
  }
  #main_menu >ul >li.active >ul >li & {
    @include subMenu;
  }
  #usermenu-container &{
    @include liUserMenu;
  }
  div#content div#main_content div.vmPag ul &{
    display:table-cell;
    padding: 0 4px;
  }
}
p {
  #main_content & {
    margin: 15px 0;
  }
  #left_part &{
    margin: 10px 0;
  }
  #right_part &{
    margin:10px 0;
  }
  div.item-page-shop &{
    &.product_s_desc{
      color:black;
    }
  }
}
pre{
  .test_content_box &{
    margin:0;
  }
}
span {
  &.lot{
    background: url(../images/auction_hammer_gavel.png) white no-repeat 2px;
    border: solid 1px;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 16px;
    margin-right: 4px;
    margin-top: -4px;
    opacity: 0.6;
    padding: 2px;
    width: 16px;
    &:hover{
      opacity:1;
    }
  }
  form#ask_form &{
    &.req{
      color:red;
    }
  }
  div#content #left_part h3 &{
    &.lots_count{
      color: #172a17;
      font-weight: 300;
    }
  }
  div#main_content &{
    &.highlight{
      background-color: lightPink;
    }
  }
  div#main_content.left table.cabinet tr:not(:first-child) td:nth-child(5) &{
    color: #666;
  }
  div#main_content div.vmPag ul li:not([class]) &{
    &.pagenav{
      background: #851719;
      border-radius: 7px;
      color: white;
      padding: 2px 6px;
    }
  }
  #header_bid &{
    float: left;
    margin-top: 4px;
    margin-left: 10px;
  }
  #header-left-side &{
    color: #e4da99;//$font-color-sand;
    font-family: $font-common;
    font-size: 13px;
    font-weight: bold;
  }  
  #logo-texts-inside &{
    @include text-shadow(1px 1px 4px rgba(0,0,0,1));
  }
  #main_content &,
  #left_part &{
    color: $brownDark;
  }
  #right_part h3 &{
    color:$brownDark;
  }
  #your_order &{
    &.text_highlight{
      font-size:13px;
    }
  }
}
table{
  &#recaptcha_table{
    margin-top: 10px !important;
  }
  &.cabinet{
    border-spacing: 0;
    width: 100%;
    @media (max-width: $media-middle){
      border: $tableBorderCommon;
    }
  }
  &.border {
    border: $tableBorderCommon;
  }
}
td{
  div.item-page-shop &{
    &.box{
      @include box;
    }
  }
  div.content_box.user-data table.alignRight.verticalTop tr &{
    @media (max-width: $media-middle) {
      display: block !important;
      text-align: left !important;
    }
  }
  div#main_content table.category &{
    font-weight:bold;
    padding-top:15px;
  }
  div#main_content.left table.alignRight tr &:first-child{
    color:#758575;
    font-weight:bold;
    padding-right:10px;
    text-align:right;
  }
  div#main_content.left table.cabinet tr &{
    padding:2px 4px;
    &:not(:first-child){
      color:black;
      font-weight:bold;
    }
  }
  @include tdMobileBlock480;
  @include tdMobileBlockBorderRight480;
  table.cabinet &{
    border-color: $brownDark !important;
  }
  table.cabinet tr:not(:first-child):not(:last-child) &{
    border-bottom:dashed 1px $brown;
  }
  table.cabinet.border &{
    font-weight: normal;
  }
  table.cabinet#tbl-my_bids &{
    font-size: 1.1em;
    border-bottom: none;
    font-weight: normal;
    &:nth-child(3),
    &:nth-child(4){
      text-align: right;
    }
    @media(min-width: $media-middle){
      &:nth-child(2){
        white-space: nowrap;
      }
    }
  }
  #right_part table.acymailing_form &{
    text-align:left;
  }
  #tbl-bid-history &{
    padding:2px 4px;
    &:nth-child(2){
      text-align:right;
    }
    &:nth-child(3){
      text-align:center;
    }
  }
  #tbl-bid-history tbody tr:not(first-child).bold &{
    font-weight:bold;
  }
}
th{
  #tbl-bid-history &{
    background:$sandDark;
    padding:2px 4px;
  }
  @include tdMobileBlock480;
  @include tdMobileBlockBorderRight480;
  table.cabinet tr &{
    padding:2px 4px;
    text-align:left;
    @media(min-width: $media-middle){
      white-space: nowrap;
    }
  }
  table.cabinet.border &{
    border-bottom:solid 1px $brownDark;
    text-align: center;
  }
  div#main_content.left table.cabinet#tbl-my_bids tr &{
    font-size: 1.1em;
    /*@media(min-width: $media-middle){
      white-space: nowrap;
    }*/
    &:not(:nth-child(1)){
      text-align: center;
    }
  }
  table.cabinet &{
    @media(max-width: $media-middle){
      border-bottom: $tableBorderCommon;
    }
  }
}
tr{
  div#main_content.left table.cabinet &{
    &:first-child{
      color:$brownDark;
      font-size: 11px;
      font-weight: bold;
      height: 24px;
      margin: 0px;
      padding: 4px 0px 0px 5px;
    }
    &:not(:first-child) {
      font-size: 11px;
      &:hover{
        background-color:#FFFFE1;
      }
    }
  }
  div#main_content.left table.verticalTop &{
    vertical-align:top;
  }
}
textarea{
  &#comments{
    width:485px;
  }
  form#ask_form &{
    height:80px;
    min-height:32px;
    margin-top:2px;
    width: 209px;
    &#price_wiches{
      height:50px;
    }
  }
  #proposal_form &{
    height: 150px;
    width: 52.5%;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  &.table{
    display:table;
  }
  #left_menu &{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
  #left_part &{
    margin-bottom: 22px;
    margin-top: 14px;
  }
  #main_menu &:not(#mobile-menu-proposal){
    @media (max-width: $media-middle) {
      background-color: #417337;
      border-radius: 4px;
      border-top: solid 10px !important;
      border-bottom: solid 10px #417337;
      display: none;
      float: none !important;
      margin: 0 0 10px 15px !important;
      padding: 0;
      padding-left: 0 !important;
      position: static !important;
      width: 94.5% !important;
    }
    @media (min-width: $media-middle) {
      //display:table;
    }
  }
  #main_menu >&:not(#mobile-menu-proposal){
    display: table;
    float: left;
    list-style:none;
    margin:0;
    width: 51.5%;
    @media (max-width: $media-middle) {
      border-top-color: #789D50 !important;
      display: none;
    }
  }
  #main_menu >ul >li>& {
    background:#417337;
    border-top:1px solid #e9e4bc;
    display:none;
    left:0;
    position:absolute;
    top:45px;
    width:auto;
    z-index:2;
    @media (max-width: $media-middle) {
      border-top-color: #417337 !important;
      margin-top: 4px !important;
      margin-bottom: 4px !important;
    }
  }
  #main_menu >ul.menu >li.deeper:hover >&{
    @media (min-width: $media-middle) {
      display: block !important;
    }
  }
  #padd_bot_menu &{
    @media (max-width: $media-middle) {
      display: block !important;
      float: left !important;
      clear: both !important;
      text-align: left !important;
    }
  }
  div#footer #bottom_menu #padd_bot_menu &{
    display:inline-table;
    float: right;
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:0;
    @media (max-width: $media-middle){
      padding-bottom: 15px;
    }
  }
  div#main_content div.vmPag &{
    display:table;
  }
  div#main_content.left div#user_column div.content_box &{
    margin-top:-3px;
  }
  div#usermenu div.moduletable &.menu{
    margin-left: $left-edge-offset;
    margin-top: -3px;
    position:absolute;
  }
}
