$almostBlack:#301F07;
$brown:#841113;
$brownDark:#851719;
$brownDarkUltra:#6d4721;
$linkColorSand:#fad674;
$mediumDark:#426e36;
$mediumRedDark:#301f07;
$menuBorder: solid 1px #EAD8B0;
$sandDark:#EAD5B7;
$sandEven:#F0EAE2;
$sandGrey:#eaebec;
$superDark:#020100;
$veryDarkLink:#172A17;