$almostBlack:#301F07;
$brown:#841113;
$borderThickBrown:solid 1px $brown;
$brownDark:#8c0f0f;
$brownDarkUltra:#6d4721;
$font-color-sand:#F1E294;
$font-color-dark-sand:#ffcc99;
$font-common:Verdana, Geneva, sans-serif;
$greenDark:#2C6224;
$left-edge-offset:220px;
$linkColorSand:#e7d770;
$linkColorSandCommon:#ede297;
$mediumDark:#426e36;
$mediumRedDark:#301f07;
$menuBorder: solid 1px #EAD8B0;
$menuHeight: 46px;
$offsetPadding:5.5%;
$sandDark:#EAD5B7;
$sandEven:#F0EAE2;
$sandGrey:#eaebec;
$superDark:#020100;
$tableBorderCommon:solid 1px $brownDark;
$veryDarkLink:#172A17;
/* @media break-points*/
$media-extra-narrow:510px;
$media-very-narrow:610px;
$media-narrow:630px;
$media-middle:768px;
$media-middle-next:850px;
$media-wide:1100px;