/* Small devices (iPhone, 480px and up) */
@media (max-width: 480px) {
	#header{
		height: auto;	
		background-size: 313px 140px;	
		background-position-x: 119px;
		margin-right: 15px;
	}
	#pic_top{
	    background-position-y: bottom;
	    background-position-x: -24px;
	    background-size: 165%;
	    height: 117px;
	    margin: auto 2px auto auto;			
	    width: 306px;
	}
	#logo_img{
		top: 5px;
		height: 115px;
		left: 24px;
		width: 76px;
	}
	#logo_text::before{
		content:"Антикварные сезоны - аукцион и магазин";
	}
	#logo_text img{
		display: none;
	}
    #logo-box{
    	height: 46px !important;
		line-height: 46px !important;
		padding: 0 19px 0;
		width: 100% !important;
	}
	#logo-box a{
    	color: #386430;
    	font-size: 1.2em;
		font-weight: bold; 
    	text-decoration: none;
	}
	#logo-box a:hover{
		color: #789D50;
	}
	#main_content{
		margin-left: 0;	
		margin-top: 10px;
		border-top: solid 1px #417337;
	}
	#left_part{
		background:url(../../images/body_bg.jpg) 0 0 repeat;
		box-shadow: 8px 8px 18px 4px rgba(0,0,0, 0.5);
		max-width: 420px;
		position: absolute;
		top: 4px;
		transform: translateX(-114%);
		transition: transform 0.5s ease;				
		width: auto;
	}
	#left_part .moduletable{
		margin: 3px -4px;
		padding: 4px 10px;
		white-space: nowrap;
		width: 100%;
	}
	#left_part.visible{
		transform: translateX(0);
	}
    #main_menu{
        background-position: 0 0;
        background: transparent !important;
        background-size: 100% 60px !important;
        height: auto !important;
        overflow: hidden;
    }
    #main_menu ul{
        background-color: #417337;
        border-radius: 4px;
        border-top: solid 10px !important;
        border-bottom: solid 10px #417337;
        display: none;
        float: none !important;
        margin: 0 0 0 15px !important;
        padding: 0;
        position: static !important;
        width: 96.5% !important;
    }
	#main_menu >ul{
		border-top-color:#789D50 !important;
	}
    #main_menu ul li{
        background-color: rgb(65, 115, 55);
        border: none !important;
        color: #ead8b0 !important;
        display: list-item !important;
        overflow: hidden;
        padding: 0 8px 4px 15px;
        box-sizing: border-box;
    }
    #main_menu >ul li:first-child{
        display: none !important;
    }
	#main_menu >ul >li>ul{
		border-top-color:#417337 !important;
	
		margin-top: 4px !important;
	
		margin-bottom: 4px !important;
}
    #main_menu >ul >li >ul> li{
		padding: 0 8px 0 8px;
	}
	#main_menu >ul >li>ul>li a{
        border: none !important;
    
        height: 15px !important;
	}
    #main_menu ul li a{
        float: none !important;    
        color: #ead8b0 !important;
	}
    #main_menu ul li a.border{
        display: inline-block;
    }
    #main_menu ul li a.flat{
        border-top: solid 10px transparent;
        border-bottom: 0;
        display: inline-block;
        height: auto;
    }
    .mobile_menu{
    	background-color: #417337;
    	border-radius: 4px;
    	color: #ead8b0;
    	cursor: pointer;
    	display: inline-block;
    	font-family: Arial;
    	margin-left: 15px;
    	margin-bottom: 4px;
    	padding: 8px 20px;
	}
	.mobile_menu:hover{
		background-color: #789D50;
	}
    .deeper{
        background-color: #789D50 !important;
    }
    .deeper::before{
        content:"►";
    }
    .expanded::before{
        content:"▼";
    }
    #copyright{
    	float: right !important;
    
    	height: 18px !important;
    	line-height: 18px !important;
	
    	margin-right: 15px;
	}
    #footer{
    	background-color: #417337 !important;
    	overflow: hidden !important;
    
    	height: auto !important;
    	padding-top: 10px !important;
	}
	#padd_bot_menu{
		overflow: hidden;
	
		margin-left: 15px !important;
	}
    #padd_bot_menu ul{
    	display: block !important;
		float: left !important;
		clear: both !important;
    	text-align: left !important;
    }
    #padd_bot_menu ul li{
    	display: list-item !important;
    }
    #padd_bot_menu ul a{
    	border: none !important;
    }
}
@media (min-width: 480px) {
    li.deeper:hover >ul{
       display:block !important;
    }
    #main_menu ul{
    	display:table;
    }
}
@media (max-width: 768px){
    #main_menu > ul li a{
        font-weight: normal !important;
    
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}