@charset "UTF-8";
/* default sass file */
@font-face {
  font-family: 'AcademyRegular';
  src: url("fonts/academy-regular.eot");
  src: url("fonts/academy-regular.eot") format("embedded-opentype"), url("fonts/academy-regular.woff2") format("woff2"), url("fonts/academy-regular.woff") format("woff"), url("fonts/academy-regular.ttf") format("truetype"), url("fonts/academy-regular.svg#AcademyRegular") format("svg");
}
@font-face {
  font-family: 'AcademyBold';
  src: url("fonts/academy-bold.eot");
  src: url("fonts/academy-bold.eot") format("embedded-opentype"), url("fonts/academy-bold.woff2") format("woff2"), url("fonts/academy-bold.woff") format("woff"), url("fonts/academy-bold.ttf") format("truetype"), url("fonts/academy-bold.svg#AcademyBold") format("svg");
}
/* @media break-points*/
/* line 2, ../sass/classes.scss */
.h3upper {
  color: #8c0f0f;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  text-transform: uppercase;
}

/* line 17, ../sass/classes.scss */
#search_box .background {
  background: url("../images/zoom.png") #2C6224 no-repeat 6px 6px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  float: right;
  height: 27px;
  margin: 6px 0px 0 0;
  width: 30px;
}
/* line 25, ../sass/classes.scss */
#search_box .background:hover {
  cursor: pointer;
}

/* line 30, ../sass/classes.scss */
.buttonSand,
.buttonSandCool {
  background-color: #EAD5B7;
  border: solid 1px darkkhaki;
  color: #301F07;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 12px;
}
/* line 32, ../sass/mixins.scss */
.buttonSand.cancel,
.buttonSandCool.cancel {
  background-color: #eaebec;
}

/* line 34, ../sass/classes.scss */
.clearfix, .clear {
  overflow: hidden;
}

/* line 37, ../sass/classes.scss */
.clear {
  clear: both;
  line-height: 0;
  height: 0;
}

@media (max-width: 768px) {
  /* line 43, ../sass/classes.scss */
  .deeper {
    background-color: #789D50 !important;
  }
  /* line 46, ../sass/classes.scss */
  .deeper::before {
    content: "►";
  }
  /* line 50, ../sass/classes.scss */
  .deeper.expanded::before {
    content: "▼";
  }
}

/*.fleft{
  @include fleft;
}*/
/* line 59, ../sass/classes.scss */
.floatLeft {
  float: left;
}

/* line 62, ../sass/classes.scss */
.floatRight {
  float: right;
}

/* line 65, ../sass/classes.scss */
.gallery_lot {
  float: left;
  width: 350px;
}

/* line 69, ../sass/classes.scss */
.H2 {
  border-bottom: solid 1px;
  border-top: solid 1px;
  color: #841113;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px !important;
  padding: 6px;
}
/* line 164, ../sass/mixins.scss */
.H2 a {
  text-decoration: none;
}

/* line 72, ../sass/classes.scss */
.hide-from-middle {
  display: none !important;
}
@media (max-width: 768px) {
  /* line 72, ../sass/classes.scss */
  .hide-from-middle {
    display: block !important;
  }
}

/* line 79, ../sass/classes.scss */
div.item-page-shop.fulltime.box .img {
  height: 228px;
}

/* line 83, ../sass/classes.scss */
.inBlock {
  display: inline-block;
}

/* line 86, ../sass/classes.scss */
.info_area {
  background-color: #CBECFF;
  border-color: #289FE4;
  display: table;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: auto;
  padding: 10px;
}

/* line 92, ../sass/classes.scss */
.item-page-registration {
  margin-left: -220px;
}

@media (max-width: 768px) {
  /* line 95, ../sass/classes.scss */
  .left {
    margin-left: 0;
  }
}

/* line 100, ../sass/classes.scss */
.leftLess {
  margin-left: 0;
}

/* line 103, ../sass/classes.scss */
.lock {
  padding-left: 20px;
  background: url("../images/lock.png") no-repeat;
}

/* line 107, ../sass/classes.scss */
.mark_round {
  background: red;
  border-radius: 50%;
  cursor: pointer;
  height: 1.3em;
  margin-top: 2px !important;
  margin-right: 8px !important;
  width: 1.3em;
}

/* line 116, ../sass/classes.scss */
.menuH {
  display: inline-block;
  margin: 0;
  padding: 10px;
  background-color: orange;
  opacity: 0.75;
}

/* line 123, ../sass/classes.scss */
.menuH2 {
  opacity: 0.2;
}

/* line 126, ../sass/classes.scss */
.mobile_menu {
  display: none;
}
@media (max-width: 768px) {
  /* line 126, ../sass/classes.scss */
  .mobile_menu {
    background-color: #417337;
    border-radius: 4px;
    color: #ead8b0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    margin-left: 15px;
    margin-bottom: 4px;
    padding: 8px 20px;
  }
}
@media (max-width: 768px) {
  /* line 139, ../sass/classes.scss */
  .mobile_menu:hover {
    background-color: #789D50;
  }
}

@media (max-width: 768px) {
  /* line 146, ../sass/classes.scss */
  #left_part .moduletable {
    margin: 3px -4px;
    padding: 4px 10px;
    white-space: nowrap;
    width: 100%;
  }
}

/* line 155, ../sass/classes.scss */
.opaque {
  opacity: 0.2;
}

/* line 158, ../sass/classes.scss */
.product_s_desc {
  margin-top: 10px !important;
  padding: 8px 0;
}
/* line 161, ../sass/classes.scss */
.box > .product_s_desc {
  /*background-color: whitesmoke;*/
  height: 53px;
  overflow: hidden;
}

/* line 166, ../sass/classes.scss */
.right {
  margin-right: 310px;
}

/* line 169, ../sass/classes.scss */
.separator {
  border-right: solid 1px #F1E294;
  display: inline-block;
  font-size: 9px;
}
/* line 174, ../sass/classes.scss */
#logo-texts .separator {
  font-size: 6px;
  font-weight: bold;
  margin-right: 2px;
  padding-top: 4px;
}
/* line 180, ../sass/classes.scss */
#logo-texts-inside .separator {
  -moz-box-shadow: 1px 3px 10px black;
  -webkit-box-shadow: 1px 3px 10px black;
  box-shadow: 1px 3px 10px black;
}

/* line 184, ../sass/classes.scss */
.solid {
  opacity: 1 !important;
}

/* line 187, ../sass/classes.scss */
.test-message {
  background-color: #eaebec;
  border: solid 1px #ccc;
  display: inline-block;
  margin: 10px auto;
  padding: 10px;
}

/* line 194, ../sass/classes.scss */
.testPadding {
  background-color: lightgreen;
  border-radius: 8px;
  display: none;
  margin-left: -200px;
  opacity: 0.2;
  padding: 10px;
  text-align: left;
}
/* line 202, ../sass/classes.scss */
div#left_part .testPadding {
  background-color: lightyellow;
  display: inline-block;
  margin-left: 0;
}
/* line 207, ../sass/classes.scss */
#main_content .testPadding {
  background-color: yellow;
  float: right;
  margin-left: 40px;
}
/* line 211, ../sass/classes.scss */
#main_content .testPadding:before {
  content: "MAIN_CONTENT";
}
/* line 215, ../sass/classes.scss */
#main_menu .testPadding {
  background-color: navy;
  color: white;
  display: none;
  z-index: 1;
}
/* line 220, ../sass/classes.scss */
#main_menu .testPadding:before {
  content: "MAIN_MENU";
}
/* line 224, ../sass/classes.scss */
#padd_bot_menu .testPadding {
  background-color: #c190ee;
}
/* line 226, ../sass/classes.scss */
#padd_bot_menu .testPadding:before {
  content: "PAD_BOT_MENU";
}
/* line 230, ../sass/classes.scss */
#search_box .testPadding {
  background-color: lightcoral;
}
/* line 232, ../sass/classes.scss */
#search_box .testPadding:before {
  content: "SEARCH_BOX";
}

/* line 238, ../sass/classes.scss */
#galleryThumbs .th_image {
  display: inline-block;
}

@media (max-width: 768px) {
  /* line 242, ../sass/classes.scss */
  .top_list_mn {
    display: none !important;
  }
}

/* line 247, ../sass/classes.scss */
.vertically-aligned {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 252, ../sass/classes.scss */
.vertical-spacer {
  display: block;
  clear: both;
  border: none;
  padding-top: 0px;
}

/* line 255, ../sass/classes.scss */
.width75 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
}

/* line 259, ../sass/classes.scss */
.width70 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 70%;
}

/* line 263, ../sass/classes.scss */
.width30 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
}

/* line 267, ../sass/classes.scss */
.warning_area {
  background-color: pink;
  border-color: darkred;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: auto;
  padding: 10px;
}

/* line 272, ../sass/classes.scss */
.weak {
  font-weight: 200;
}

/* line 2, ../sass/tags.scss */
a {
  outline: none;
}
/* line 4, ../sass/tags.scss */
a.home {
  display: none;
}
/* line 7, ../sass/tags.scss */
a.lots_count {
  color: #172A17;
  font-weight: 300;
}
/* line 11, ../sass/tags.scss */
section a {
  color: #841113;
  font-family: Verdana, Geneva, sans-serif;
}
/* line 15, ../sass/tags.scss */
div.top_list_mn div a {
  color: #841113;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
}
/* line 21, ../sass/tags.scss */
div#footer #bottom_menu #padd_bot_menu li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ede297 !important;
  font: bold 12px/13px Verdana, Geneva, sans-serif !important;
  height: 46px !important;
  line-height: 46px !important;
  padding: 3px 6px !important;
  text-decoration: none;
  text-transform: uppercase;
  color: #e7d770 !important;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  height: 41px !important;
  line-height: 41px !important;
  margin: 0 1px;
  padding: 0 12px !important;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 850px) {
  /* line 21, ../sass/tags.scss */
  div#footer #bottom_menu #padd_bot_menu li a {
    font-weight: normal !important;
  }
}
/* line 101, ../sass/mixins.scss */
div#footer #bottom_menu #padd_bot_menu li a:hover {
  text-decoration: none;
  color: #e9e4bc;
}
/* line 32, ../sass/tags.scss */
div#footer #bottom_menu #padd_bot_menu li a:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 21, ../sass/tags.scss */
  div#footer #bottom_menu #padd_bot_menu li a {
    height: 24px !important;
    line-height: 24px !important;
  }
}
/* line 40, ../sass/tags.scss */
div#signup_auction a {
  font-size: 13px !important;
}
/* line 43, ../sass/tags.scss */
div#usermenu div.moduletable ul.menu li a.H2 {
  border-bottom: solid 1px;
  border-top: solid 1px;
  color: #841113;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px !important;
  padding: 6px;
  padding-top: 5px;
}
/* line 47, ../sass/tags.scss */
#board a {
  font: normal 14px Verdana, Geneva, sans-serif;
  color: #020100;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 54, ../sass/tags.scss */
#header-left-side a {
  height: 100%;
  position: absolute;
  width: 100%;
}
/* line 59, ../sass/tags.scss */
#header-left-inside a {
  text-decoration: none;
}
/* line 62, ../sass/tags.scss */
#left_part a {
  color: #8c0f0f;
  text-decoration: underline;
}
/* line 65, ../sass/tags.scss */
#left_part a:hover {
  text-decoration: none;
}
/* line 69, ../sass/tags.scss */
#left_part h3 a {
  font-size: 18px;
  text-decoration: none;
}
/* line 73, ../sass/tags.scss */
#left_part ul li a {
  color: #172a17;
  font-weight: bold;
  text-decoration: none;
}
/* line 78, ../sass/tags.scss */
#left_menu ul li a {
  color: #172A17;
  text-decoration: none;
  font-weight: bold;
}
/* line 83, ../sass/tags.scss */
#left_menu ul li a span {
  color: #172A17;
}
/* line 86, ../sass/tags.scss */
#left_menu ul li.active a, #left_menu ul li.active a span, #left_menu ul li a:hover, #logIn a {
  display: block;
  /*font-size:14px;*/
  font-size: 11px;
  margin-top: 5px;
}
/* line 95, ../sass/tags.scss */
#logo-box a {
  position: static;
}
@media (max-width: 768px) {
  /* line 95, ../sass/tags.scss */
  #logo-box a {
    color: #386430;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
  }
  /* line 102, ../sass/tags.scss */
  #logo-box a:hover {
    color: #789D50;
  }
}
/* line 107, ../sass/tags.scss */
#logo-texts-inside a {
  display: block;
  text-decoration: none;
}
/* line 111, ../sass/tags.scss */
#main_content a {
  color: #8c0f0f;
}
@media (max-width: 768px) {
  /* line 114, ../sass/tags.scss */
  #main_menu ul:not(#mobile-menu-proposal).menu li.active > a {
    display: inline !important;
  }
}
@media (max-width: 768px) {
  /* line 119, ../sass/tags.scss */
  #main_menu ul:not(#mobile-menu-proposal) li a {
    float: none !important;
    color: #ead8b0 !important;
  }
}
@media (max-width: 768px) {
  /* line 119, ../sass/tags.scss */
  #main_menu ul:not(#mobile-menu-proposal) li a {
    font-weight: normal !important;
  }
}
@media (max-width: 768px) {
  /* line 127, ../sass/tags.scss */
  #main_menu ul:not(#mobile-menu-proposal) li a.border {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  /* line 132, ../sass/tags.scss */
  #main_menu ul:not(#mobile-menu-proposal) li a.flat {
    border-top: solid 10px transparent;
    border-bottom: 0;
    display: inline-block;
    height: auto;
  }
}
/* line 141, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li > a {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ede297 !important;
  font: bold 12px/13px Verdana, Geneva, sans-serif !important;
  height: 46px !important;
  line-height: 46px !important;
  padding: 3px 0px !important;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 850px) {
  /* line 141, ../sass/tags.scss */
  #main_menu > ul:not(#mobile-menu-proposal) > li > a {
    font-weight: normal !important;
  }
}
/* line 101, ../sass/mixins.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li > a:hover {
  text-decoration: none;
  color: #e9e4bc;
}
@media (max-width: 768px) {
  /* line 141, ../sass/tags.scss */
  #main_menu > ul:not(#mobile-menu-proposal) > li > a {
    height: 24px !important;
    line-height: 24px !important;
  }
}
/* line 149, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li.active a {
  text-decoration: none;
  color: #e9e4bc;
  color: #fad674;
  font: bold 12px/13px Verdana, Geneva, sans-serif;
  height: 18px;
  padding: 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
  color: #e9e4bc;
}
/* line 156, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li > ul > li a {
  border-bottom: 1px solid #e9e4bc;
  padding-bottom: 0px !important;
  width: 100%;
  color: #fad674;
  font: bold 12px/13px Verdana, Geneva, sans-serif;
  height: 18px;
  padding: 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 161, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li > ul > li a:hover {
  text-decoration: none;
  color: #e9e4bc;
}
/* line 164, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li > ul > li a:last-child {
  margin-bottom: 1px;
}
@media (max-width: 768px) {
  /* line 156, ../sass/tags.scss */
  #main_menu > ul:not(#mobile-menu-proposal) > li > ul > li a {
    border: none !important;
    height: 15px !important;
  }
}
/* line 172, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li > ul > li.active a {
  text-decoration: none;
  color: #e9e4bc;
  color: #fad674;
  font: bold 12px/13px Verdana, Geneva, sans-serif;
  height: 18px;
  padding: 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 176, ../sass/tags.scss */
#mobile-menu-proposal a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ede297 !important;
  font: bold 12px/13px Verdana, Geneva, sans-serif !important;
  height: 46px !important;
  line-height: 46px !important;
  padding: 3px 1.8% !important;
  text-decoration: none;
  text-transform: none;
  height: 41px !important;
  line-height: normal !important;
  margin-top: 4px;
  padding-top: 15px !important;
  font: normal 14px/17px Verdana, Geneva, sans-serif;
  padding: 10px;
}
@media (max-width: 850px) {
  /* line 176, ../sass/tags.scss */
  #mobile-menu-proposal a {
    font-weight: normal !important;
  }
}
/* line 101, ../sass/mixins.scss */
#mobile-menu-proposal a:hover {
  text-decoration: none;
  color: #e9e4bc;
}
@media (min-width: 768px) {
  /* line 176, ../sass/tags.scss */
  #mobile-menu-proposal a {
    background-color: #2C6224;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 900px) {
  /* line 176, ../sass/tags.scss */
  #mobile-menu-proposal a {
    margin-bottom: 2px;
    margin-right: auto;
    padding-right: 20px !important;
  }
}
@media (max-width: 768px) {
  /* line 176, ../sass/tags.scss */
  #mobile-menu-proposal a {
    margin-top: -8px;
  }
}
@media (max-width: 610px) {
  /* line 176, ../sass/tags.scss */
  #mobile-menu-proposal a {
    padding-right: 12px !important;
    padding-top: 18px !important;
  }
}
/* line 202, ../sass/tags.scss */
#user-go a {
  color: #ede297;
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 206, ../sass/tags.scss */
  #padd_bot_menu ul a {
    border: none !important;
  }
}
/* line 211, ../sass/tags.scss */
#pic_top section a {
  font-size: 0.85em;
  line-height: 40px;
  padding: 10px;
}
/* line 216, ../sass/tags.scss */
#right_part a {
  color: #8c0f0f;
  text-decoration: underline;
}
/* line 219, ../sass/tags.scss */
#right_part a:hover {
  text-decoration: none;
}
/* line 223, ../sass/tags.scss */
#right_part div[class*="-go_catalogues"] div.custom-go_catalogues a {
  color: #8c0f0f;
  text-transform: uppercase;
}
/* line 227, ../sass/tags.scss */
#usermenu-container li a.H2 {
  border-bottom: solid 1px;
  border-top: solid 1px;
  color: #841113;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px !important;
  padding: 6px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
/* line 232, ../sass/tags.scss */
ul.buttons li div a {
  text-decoration: none !important;
  font-size: 12px;
}
/* line 235, ../sass/tags.scss */
ul.buttons li div a:hover {
  text-decoration: none !important;
}
/* line 240, ../sass/tags.scss */
ul.table li a:hover {
  text-decoration: underline !important;
}

/* line 246, ../sass/tags.scss */
#pic_top section aside {
  background-color: white;
  border-radius: 6px;
  display: none;
  opacity: 0.45;
  transition: all 0.3s ease;
}
/* line 252, ../sass/tags.scss */
#pic_top section aside:hover {
  opacity: 0.1;
}

/* line 257, ../sass/tags.scss */
body {
  padding: 0;
  margin: 0;
  background: url(../images/body_bg.jpg) 0 0 repeat;
}

/* line 263, ../sass/tags.scss */
form#ask_form button {
  background-color: #EAD5B7;
  border: solid 1px darkkhaki;
  color: #301F07;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 12px;
}
/* line 32, ../sass/mixins.scss */
form#ask_form button.cancel {
  background-color: #eaebec;
}
/* line 266, ../sass/tags.scss */
div#main_content.left table.cabinet tr td:first-child button {
  border: 1px solid #CACBCC;
  color: #8c0f0f;
  font-family: Verdana;
  font-size: 12px;
  margin: 6px auto 5px 1px;
  padding: 3px 5px 2px 5px;
}
/* line 274, ../sass/tags.scss */
div#main_content.left form#formGoLogout button.button {
  background: none;
  border: none;
  color: #8c0f0f;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0px;
  padding: 0;
}

/* line 279, ../sass/tags.scss */
div#footer {
  position: relative;
}
/* line 285, ../sass/tags.scss */
div#main_content.left {
  margin-left: 220px;
}
@media (max-width: 768px) {
  /* line 285, ../sass/tags.scss */
  div#main_content.left {
    margin-left: 0;
  }
}
/* line 292, ../sass/tags.scss */
div.item-page-shop * {
  font-family: Verdana;
}
/* line 297, ../sass/tags.scss */
div.item-page-shop div.box {
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  color: #841113;
  vertical-align: top;
  width: 226px;
}
/* line 302, ../sass/tags.scss */
div.item-page-shop .box div.img {
  background-color: white;
  border: solid 1px #841113;
  height: 228px;
  line-height: 228px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  vertical-align: middle;
  width: 226px;
}
/* line 313, ../sass/tags.scss */
div.item-page-shop .box div.PricesalesPrice {
  min-height: 35px;
}
/* line 317, ../sass/tags.scss */
div.lots_listing {
  border-top: solid 1px #841113;
  border-bottom: solid 1px #841113;
  color: #841113;
  display: block;
  font-family: Verdana;
  font-size: 13px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 7px;
}
/* line 332, ../sass/tags.scss */
div.top_list_mn {
  height: 25px;
  margin-top: 10px;
  text-align: right;
}
/* line 337, ../sass/tags.scss */
div.top_list div {
  position: relative;
}
/* line 339, ../sass/tags.scss */
div.top_list div.top_list_mn {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 19px;
}
/* line 349, ../sass/tags.scss */
div.top_list h2 div.weak {
  display: inline-block;
  line-height: 29px;
}
/* line 354, ../sass/tags.scss */
div.top_list_mn div {
  display: inline-block;
  float: right;
  margin-right: 20px;
}
/* line 359, ../sass/tags.scss */
div#footer #bottom_menu #padd_bot_menu div.mailru_counter {
  display: inline-block;
  float: right;
  margin-right: 40px;
  width: auto;
}
/* line 365, ../sass/tags.scss */
div#main_content.left div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 367, ../sass/tags.scss */
div#main_content.left div.para {
  margin: 20px 0;
}
/* line 370, ../sass/tags.scss */
div#main_content.left div#user_column {
  float: left;
  max-width: 140px;
}
/* line 375, ../sass/tags.scss */
div#main_content.left div#content_column_wide {
  /*float: left;
  @include mxWidth(600px);
  margin-right:-40px;
  padding-left:10px;
  width:600px;*/
  padding-left: 140px;
}
/* line 383, ../sass/tags.scss */
div#main_content.left div#login_area {
  margin: 20px 80px;
}
/* line 386, ../sass/tags.scss */
div#main_content.left div#login_area form#sign-in div.login-fields div {
  display: inline-block;
  /*width:170px;*/
  color: #666;
  clear: both;
  font-weight: bold;
  font-size: 12px;
  font-family: Verdana;
  padding: 2px 5px;
  text-align: right;
  width: 150px;
}
/* line 398, ../sass/tags.scss */
div#main_content.left div#user_column div.content_box {
  min-height: 157px;
  width: 138px;
}
/* line 403, ../sass/tags.scss */
div#content div#main_content div.vmPag {
  display: inline-block;
  float: right;
  margin-right: 6px;
  max-width: 60%;
}
/* line 410, ../sass/tags.scss */
div#usermenu div.moduletable {
  position: relative;
}
/* line 413, ../sass/tags.scss */
#copyright > div {
  color: #709454;
}
/* line 416, ../sass/tags.scss */
#logo-texts > div {
  -moz-transform: scaleX(1.07);
  -ms-transform: scaleX(1.07);
  -webkit-transform: scaleX(1.07);
  transform: scaleX(1.07);
  margin-left: -4px;
}
/* line 420, ../sass/tags.scss */
#logo-texts-inside > div {
  color: #F1E294;
  position: absolute;
  top: -16px;
  width: 100%;
}
/* line 426, ../sass/tags.scss */
#proposal_form > div:not(.form_item) {
  margin-top: 5px;
}
/* line 430, ../sass/tags.scss */
#proposal_form div.cfclear {
  height: 4px;
}
/* line 434, ../sass/tags.scss */
#registration_form div {
  margin-top: 5px;
}
/* line 437, ../sass/tags.scss */
#right_part div[class*="-acy_subscribe"] div.acymailing_module_form {
  width: 200px;
}
/* line 440, ../sass/tags.scss */
.test_content_box pre div {
  text-align: left;
}
/* line 442, ../sass/tags.scss */
.test_content_box pre div.border {
  border: dashed 1px #666;
  margin: 8px auto;
  padding: 10px;
}
/* line 449, ../sass/tags.scss */
#search_box form div.search {
  height: 34px;
  margin-top: 7px;
  overflow: hidden;
  position: relative;
}
/* line 456, ../sass/tags.scss */
div#signup_auction {
  margin-left: 66px;
  padding: 1px;
  padding-top: 6px;
}
/* line 461, ../sass/tags.scss */
ul.buttons li div {
  background-color: #EAD5B7;
  border: solid 1px darkkhaki;
  color: #301F07;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 12px;
  display: inline-block;
  padding: 6px 12px;
}
/* line 32, ../sass/mixins.scss */
ul.buttons li div.cancel {
  background-color: #eaebec;
}

/* line 468, ../sass/tags.scss */
div#main_content.left div#login_area div.login form fieldset {
  border: none;
}

/* line 472, ../sass/tags.scss */
form {
  padding: 0;
  margin: 0;
}
/* line 475, ../sass/tags.scss */
#logIn form {
  /*padding: 13px 0 0 0px;
  padding-left: 28px;
  width:160px;*/
  padding: 14px 0 0 0px;
  padding-left: 20px;
  width: 160px;
}
/* line 483, ../sass/tags.scss */
#search_box form {
  overflow: hidden;
  width: 81.5%;
}
/* line 487, ../sass/tags.scss */
div#main_content.left div#login_area div.login form {
  margin-left: -10px;
}
/* line 491, ../sass/tags.scss */
div.lots_listing form#add_to_favorite {
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 495, ../sass/tags.scss */
form#registration_form, form#proposal_form, form#ask_form {
  display: inline-block;
}

/* line 502, ../sass/tags.scss */
#header-left-side h1, #logo-texts-inside h1 {
  color: #ede297;
  font-family: AcademyRegular;
}
/* line 507, ../sass/tags.scss */
#header-left-side h1 {
  font-size: 22px;
  margin: 0;
  margin-top: 10px;
  text-transform: uppercase;
  -moz-transform: scaleX(1.1);
  -ms-transform: scaleX(1.1);
  -webkit-transform: scaleX(1.1);
  transform: scaleX(1.1);
}
@media (max-width: 850px) {
  /* line 507, ../sass/tags.scss */
  #header-left-side h1 {
    float: right;
    font-size: 16px;
    line-height: 22px;
    margin-right: -44px;
  }
}
@media (max-width: 1100px) {
  /* line 507, ../sass/tags.scss */
  #header-left-side h1 {
    width: 200px;
  }
}
/* line 523, ../sass/tags.scss */
#logo-texts-inside h1 {
  font-family: AcademyRegular;
  font-size: 34px;
  text-shadow: 1px 1px 6px black;
}
/* line 528, ../sass/tags.scss */
#main_content h1 {
  color: #8c0f0f;
  font: normal 22px Verdana, Geneva, sans-serif;
  margin: 20 0 0 15px;
}
/* line 533, ../sass/tags.scss */
.testPadding h1 {
  margin: 4px;
  padding: 4px;
}

/* line 539, ../sass/tags.scss */
.box h2 {
  height: 34px;
  overflow: hidden;
}
/* line 543, ../sass/tags.scss */
.content_box h2.title {
  margin-top: 8px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 547, ../sass/tags.scss */
  h2.title {
    line-height: normal !important;
  }
}
/* line 552, ../sass/tags.scss */
div.item-page-shop .box h2 {
  font-size: 14px;
}
/* line 50, ../sass/mixins.scss */
div.item-page-shop .box h2 a {
  height: auto;
  text-decoration: none !important;
}
/* line 555, ../sass/tags.scss */
div.item-page-shop.fulltime h2 {
  font-size: 14px;
}
/* line 50, ../sass/mixins.scss */
div.item-page-shop.fulltime h2 a {
  height: auto;
  text-decoration: none !important;
}
/* line 558, ../sass/tags.scss */
div.top_list h2 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #841113;
}

/* line 569, ../sass/tags.scss */
#left_part h3 {
  color: #6d4721;
  margin: 10px 0;
  font: normal 18px Verdana, Geneva, sans-serif;
  text-transform: uppercase;
}
/* line 575, ../sass/tags.scss */
#right_part h3 {
  color: #6d4721;
  margin: 10px 0;
  font: normal 18px Verdana, Geneva, sans-serif;
  text-transform: uppercase;
}
/* line 581, ../sass/tags.scss */
div#main_content div.item-page-rules div h3 {
  font-weight: 300;
}
/* line 584, ../sass/tags.scss */
#left_part h3 {
  color: #841113;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0px 4px 0px;
  text-transform: none;
}
/* line 591, ../sass/tags.scss */
#right_part div[class*="-acy_subscribe"] h3 {
  color: #8c0f0f;
}
/* line 594, ../sass/tags.scss */
#right_part div[class*="-go_catalogues"] div.custom-go_catalogues h3 {
  margin: 24px 0 auto auto;
}

/* line 599, ../sass/tags.scss */
.test_content_box pre h4 {
  margin: 0;
  text-align: left;
}

/* line 605, ../sass/tags.scss */
hr.border {
  border-style: none;
}
/* line 607, ../sass/tags.scss */
hr.border.bottom {
  margin-top: 15px;
  border-bottom: solid 1px #841113;
}
/* line 612, ../sass/tags.scss */
hr.divider {
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 2px;
  height: 0px;
  margin-bottom: 2px;
}

/* line 620, ../sass/tags.scss */
img {
  border: none;
}
@media (max-width: 768px) {
  /* line 623, ../sass/tags.scss */
  #logo_text img {
    display: none;
  }
}
/* line 627, ../sass/tags.scss */
#header_bid img {
  float: left;
}
/* line 630, ../sass/tags.scss */
#logo-box a img {
  padding-left: 17px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 81.5%;
}
/* line 637, ../sass/tags.scss */
div.item-page-shop .box div.img img {
  vertical-align: middle;
}

/* line 642, ../sass/tags.scss */
#proposal_form input[type="text"] {
  width: 66%;
}
/* line 645, ../sass/tags.scss */
#search_box div.search input.inputbox {
  border: none;
  margin-left: 5%;
  padding: 5px 6px;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 645, ../sass/tags.scss */
  #search_box div.search input.inputbox {
    left: 0;
  }
}
/* line 655, ../sass/tags.scss */
input#enter_auction {
  float: left;
  font-size: 14px;
  margin-top: 2px;
  margin-left: 1px;
  width: 53px;
}
/* line 662, ../sass/tags.scss */
input#modlgn_passwd {
  margin-top: 2px;
}
/* line 665, ../sass/tags.scss */
#logIn input[id^="modlgn_"] {
  background-color: #FBE5AB;
  border: none;
  font-family: Verdana;
  padding: 3px 7px 2px 7px;
}
/* line 671, ../sass/tags.scss */
#logIn form input[type="submit"] {
  background: #fbe5ab;
  border: none;
  color: #735120;
  display: block;
  font: normal 12px/13px calibri, Verdana, Geneva, sans-serif;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 7px 3px 7px;
  margin: 4px;
}
/* line 676, ../sass/tags.scss */
div.lots_listing form#add_to_favorite input[type="submit"]#btn_favor {
  background: none;
  border: none;
  color: #8c0f0f;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0px;
  padding: 0;
  font-family: Verdana;
  margin: 0;
  text-decoration: underline;
}
/* line 683, ../sass/tags.scss */
form#ask_form input[type="submit"], form#ask_form input[type="reset"] {
  background-color: #EAD5B7;
  border: solid 1px darkkhaki;
  color: #301F07;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 12px;
}
/* line 32, ../sass/mixins.scss */
form#ask_form input[type="submit"].cancel, form#ask_form input[type="reset"].cancel {
  background-color: #eaebec;
}
/* line 688, ../sass/tags.scss */
.acysubbuttons input.btn-primary {
  background-color: #EAD5B7;
  border: solid 1px darkkhaki;
  color: #301F07;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 12px;
}
/* line 32, ../sass/mixins.scss */
.acysubbuttons input.btn-primary.cancel {
  background-color: #eaebec;
}

/* line 694, ../sass/tags.scss */
#search_box div.search label {
  display: none;
}
/* line 697, ../sass/tags.scss */
form#ask_form label, form#proposal_form label, form#registration_form label {
  display: inline-block;
  padding-top: 4px;
  text-align: right;
  vertical-align: top;
  width: 210px;
}
/* line 702, ../sass/tags.scss */
form#ask_form label.cf_label, form#proposal_form label.cf_label, form#registration_form label.cf_label {
  margin-top: -4px;
}

@media (max-width: 768px) {
  /* line 709, ../sass/tags.scss */
  #padd_bot_menu ul li {
    display: list-item !important;
  }
  /* line 712, ../sass/tags.scss */
  .menu:not(#mobile-menu-proposal) li.active {
    -moz-box-shadow: 0px 18px 22px rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0px 18px 22px rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0px 18px 22px rgba(255, 255, 255, 0.3) inset;
  }
}
/* line 716, ../sass/tags.scss */
.menu:not(#mobile-menu-proposal) li.active {
  text-decoration: none;
  color: #e9e4bc;
}
/* line 719, ../sass/tags.scss */
div#footer #bottom_menu #padd_bot_menu ul li {
  display: table-cell;
  white-space: nowrap;
}
/* line 723, ../sass/tags.scss */
div#main_content.left div#user_column div.content_box ul li {
  list-style: none;
  padding: 10px 0 9px 0;
  text-align: left;
}
/* line 64, ../sass/mixins.scss */
div#main_content.left div#user_column div.content_box ul li a:not(.H2) {
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/* line 69, ../sass/mixins.scss */
div#main_content.left div#user_column div.content_box ul li a:not(.H2):hover {
  text-decoration: underline;
}
/* line 72, ../sass/mixins.scss */
div#main_content.left div#user_column div.content_box ul li a:not(.H2).first-point {
  padding-top: 18px;
}
/* line 726, ../sass/tags.scss */
div#usermenu div.moduletable ul.menu li {
  list-style: none;
  padding: 10px 0 9px 0;
  text-align: left;
}
/* line 64, ../sass/mixins.scss */
div#usermenu div.moduletable ul.menu li a:not(.H2) {
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/* line 69, ../sass/mixins.scss */
div#usermenu div.moduletable ul.menu li a:not(.H2):hover {
  text-decoration: underline;
}
/* line 72, ../sass/mixins.scss */
div#usermenu div.moduletable ul.menu li a:not(.H2).first-point {
  padding-top: 18px;
}
/* line 729, ../sass/tags.scss */
ul.table li {
  display: table-cell;
  list-style: none;
  text-align: center;
  width: 33%;
  white-space: nowrap;
}
/* line 736, ../sass/tags.scss */
#left_part li {
  color: #8c0f0f;
}
/* line 739, ../sass/tags.scss */
#main_menu ul li {
  display: table-cell;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 768px) {
  /* line 739, ../sass/tags.scss */
  #main_menu ul li {
    background-color: #417337;
    border: none !important;
    color: #ead8b0 !important;
    display: list-item !important;
    overflow: hidden;
    padding: 0 8px 4px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 753, ../sass/tags.scss */
#main_menu ul li.deeper {
  color: #e7d770;
}
@media (min-width: 768px) {
  /* line 755, ../sass/tags.scss */
  #main_menu ul li.deeper:hover > #main_menu ul li.deeper {
    display: block !important;
  }
}
/* line 763, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) > li:first-child {
  display: none !important;
  /*@media (max-width: $media-middle) {
  }*/
}
/* line 769, ../sass/tags.scss */
#main_menu > ul > li > ul > li {
  display: block;
  padding-right: 8px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  /* line 769, ../sass/tags.scss */
  #main_menu > ul > li > ul > li {
    padding: 0 8px 0 8px;
  }
}
/* line 777, ../sass/tags.scss */
#main_menu > ul > li.active > ul > li li {
  color: #fad674;
  font: bold 12px/13px Verdana, Geneva, sans-serif;
  height: 18px;
  padding: 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 780, ../sass/tags.scss */
#usermenu-container li {
  list-style: none;
  padding: 10px 0 9px 0;
  text-align: left;
}
/* line 64, ../sass/mixins.scss */
#usermenu-container li a:not(.H2) {
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
/* line 69, ../sass/mixins.scss */
#usermenu-container li a:not(.H2):hover {
  text-decoration: underline;
}
/* line 72, ../sass/mixins.scss */
#usermenu-container li a:not(.H2).first-point {
  padding-top: 18px;
}
/* line 783, ../sass/tags.scss */
div#content div#main_content div.vmPag ul li {
  display: table-cell;
  padding: 0 4px;
}

/* line 789, ../sass/tags.scss */
#main_content p {
  margin: 15px 0;
}
/* line 792, ../sass/tags.scss */
#left_part p {
  margin: 10px 0;
}
/* line 795, ../sass/tags.scss */
#right_part p {
  margin: 10px 0;
}
/* line 799, ../sass/tags.scss */
div.item-page-shop p.product_s_desc {
  color: black;
}

/* line 805, ../sass/tags.scss */
.test_content_box pre {
  margin: 0;
}

/* line 810, ../sass/tags.scss */
span.lot {
  background: url(../images/auction_hammer_gavel.png) white no-repeat 2px;
  border: solid 1px;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 16px;
  margin-right: 4px;
  margin-top: -4px;
  opacity: 0.6;
  padding: 2px;
  width: 16px;
}
/* line 822, ../sass/tags.scss */
span.lot:hover {
  opacity: 1;
}
/* line 827, ../sass/tags.scss */
form#ask_form span.req {
  color: red;
}
/* line 832, ../sass/tags.scss */
div#content #left_part h3 span.lots_count {
  color: #172a17;
  font-weight: 300;
}
/* line 838, ../sass/tags.scss */
div#main_content span.highlight {
  background-color: lightPink;
}
/* line 842, ../sass/tags.scss */
div#main_content.left table.cabinet tr:not(:first-child) td:nth-child(5) span {
  color: #666;
}
/* line 846, ../sass/tags.scss */
div#main_content div.vmPag ul li:not([class]) span.pagenav {
  background: #851719;
  border-radius: 7px;
  color: white;
  padding: 2px 6px;
}
/* line 853, ../sass/tags.scss */
#header_bid span {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
}
/* line 858, ../sass/tags.scss */
#header-left-side span {
  color: #e4da99;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
/* line 864, ../sass/tags.scss */
#logo-texts-inside span {
  text-shadow: 1px 1px 4px black;
}
/* line 867, ../sass/tags.scss */
#main_content span, #left_part span {
  color: #8c0f0f;
}
/* line 871, ../sass/tags.scss */
#right_part h3 span {
  color: #8c0f0f;
}
/* line 875, ../sass/tags.scss */
#your_order span.text_highlight {
  font-size: 13px;
}

/* line 881, ../sass/tags.scss */
table#recaptcha_table {
  margin-top: 10px !important;
}
/* line 884, ../sass/tags.scss */
table.cabinet {
  border-spacing: 0;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 884, ../sass/tags.scss */
  table.cabinet {
    border: solid 1px #8c0f0f;
  }
}
/* line 891, ../sass/tags.scss */
table.border {
  border: solid 1px #8c0f0f;
}

/* line 897, ../sass/tags.scss */
div.item-page-shop td.box {
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  color: #841113;
  vertical-align: top;
  width: 226px;
}
@media (max-width: 768px) {
  /* line 901, ../sass/tags.scss */
  div.content_box.user-data table.alignRight.verticalTop tr td {
    display: block !important;
    text-align: left !important;
  }
}
/* line 907, ../sass/tags.scss */
div#main_content table.category td {
  font-weight: bold;
  padding-top: 15px;
}
/* line 911, ../sass/tags.scss */
div#main_content.left table.alignRight tr td:first-child {
  color: #758575;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
/* line 917, ../sass/tags.scss */
div#main_content.left table.cabinet tr td {
  padding: 2px 4px;
}
/* line 919, ../sass/tags.scss */
div#main_content.left table.cabinet tr td:not(:first-child) {
  color: black;
  font-weight: bold;
}
@media (max-width: 768px) {
  /* line 113, ../sass/mixins.scss */
  div#main_content.left table.cabinet tr td:not(:nth-child(1)):not(:nth-child(2)) {
    display: block !important;
  }
}
@media (max-width: 768px) {
  /* line 123, ../sass/mixins.scss */
  div#main_content.left table.cabinet tr td:nth-child(1):not(:last-child), div#main_content.left table.cabinet tr td:nth-child(2):not(:last-child) {
    border-right: solid 1px;
  }
}
/* line 926, ../sass/tags.scss */
table.cabinet td {
  border-color: #8c0f0f !important;
}
/* line 929, ../sass/tags.scss */
table.cabinet tr:not(:first-child):not(:last-child) td {
  border-bottom: dashed 1px #841113;
}
/* line 932, ../sass/tags.scss */
table.cabinet.border td {
  font-weight: normal;
}
/* line 935, ../sass/tags.scss */
table.cabinet#tbl-my_bids td {
  font-size: 1.1em;
  border-bottom: none;
  font-weight: normal;
}
/* line 939, ../sass/tags.scss */
table.cabinet#tbl-my_bids td:nth-child(3), table.cabinet#tbl-my_bids td:nth-child(4) {
  text-align: right;
}
@media (min-width: 768px) {
  /* line 944, ../sass/tags.scss */
  table.cabinet#tbl-my_bids td:nth-child(2) {
    white-space: nowrap;
  }
}
/* line 949, ../sass/tags.scss */
#right_part table.acymailing_form td {
  text-align: left;
}
/* line 952, ../sass/tags.scss */
#tbl-bid-history td {
  padding: 2px 4px;
}
/* line 954, ../sass/tags.scss */
#tbl-bid-history td:nth-child(2) {
  text-align: right;
}
/* line 957, ../sass/tags.scss */
#tbl-bid-history td:nth-child(3) {
  text-align: center;
}
/* line 961, ../sass/tags.scss */
#tbl-bid-history tbody tr:not(first-child).bold td {
  font-weight: bold;
}

/* line 966, ../sass/tags.scss */
#tbl-bid-history th {
  background: #EAD5B7;
  padding: 2px 4px;
}
@media (max-width: 768px) {
  /* line 113, ../sass/mixins.scss */
  div#main_content.left table.cabinet tr th:not(:nth-child(1)):not(:nth-child(2)) {
    display: block !important;
  }
}
@media (max-width: 768px) {
  /* line 123, ../sass/mixins.scss */
  div#main_content.left table.cabinet tr th:nth-child(1):not(:last-child), div#main_content.left table.cabinet tr th:nth-child(2):not(:last-child) {
    border-right: solid 1px;
  }
}
/* line 972, ../sass/tags.scss */
table.cabinet tr th {
  padding: 2px 4px;
  text-align: left;
}
@media (min-width: 768px) {
  /* line 972, ../sass/tags.scss */
  table.cabinet tr th {
    white-space: nowrap;
  }
}
/* line 979, ../sass/tags.scss */
table.cabinet.border th {
  border-bottom: solid 1px #8c0f0f;
  text-align: center;
}
/* line 983, ../sass/tags.scss */
div#main_content.left table.cabinet#tbl-my_bids tr th {
  font-size: 1.1em;
  /*@media(min-width: $media-middle){
    white-space: nowrap;
  }*/
}
/* line 988, ../sass/tags.scss */
div#main_content.left table.cabinet#tbl-my_bids tr th:not(:nth-child(1)) {
  text-align: center;
}
@media (max-width: 768px) {
  /* line 992, ../sass/tags.scss */
  table.cabinet th {
    border-bottom: solid 1px #8c0f0f;
  }
}

/* line 1000, ../sass/tags.scss */
div#main_content.left table.cabinet tr:first-child {
  color: #8c0f0f;
  font-size: 11px;
  font-weight: bold;
  height: 24px;
  margin: 0px;
  padding: 4px 0px 0px 5px;
}
/* line 1008, ../sass/tags.scss */
div#main_content.left table.cabinet tr:not(:first-child) {
  font-size: 11px;
}
/* line 1010, ../sass/tags.scss */
div#main_content.left table.cabinet tr:not(:first-child):hover {
  background-color: #FFFFE1;
}
/* line 1015, ../sass/tags.scss */
div#main_content.left table.verticalTop tr {
  vertical-align: top;
}

/* line 1020, ../sass/tags.scss */
textarea#comments {
  width: 485px;
}
/* line 1023, ../sass/tags.scss */
form#ask_form textarea {
  height: 80px;
  min-height: 32px;
  margin-top: 2px;
  width: 209px;
}
/* line 1028, ../sass/tags.scss */
form#ask_form textarea#price_wiches {
  height: 50px;
}
/* line 1032, ../sass/tags.scss */
#proposal_form textarea {
  height: 150px;
  width: 52.5%;
}

/* line 1037, ../sass/tags.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1041, ../sass/tags.scss */
ul.table {
  display: table;
}
/* line 1044, ../sass/tags.scss */
#left_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1048, ../sass/tags.scss */
#left_menu ul li {
  margin-bottom: 10px;
}
/* line 1052, ../sass/tags.scss */
#left_part ul {
  margin-bottom: 22px;
  margin-top: 14px;
}
@media (max-width: 768px) {
  /* line 1056, ../sass/tags.scss */
  #main_menu ul:not(#mobile-menu-proposal) {
    background-color: #417337;
    border-radius: 4px;
    border-top: solid 10px !important;
    border-bottom: solid 10px #417337;
    display: none;
    float: none !important;
    margin: 0 0 10px 15px !important;
    padding: 0;
    padding-left: 0 !important;
    position: static !important;
    width: 94.5% !important;
  }
}
/* line 1074, ../sass/tags.scss */
#main_menu > ul:not(#mobile-menu-proposal) {
  display: table;
  float: left;
  list-style: none;
  margin: 0;
  width: 51.5%;
}
@media (max-width: 768px) {
  /* line 1074, ../sass/tags.scss */
  #main_menu > ul:not(#mobile-menu-proposal) {
    border-top-color: #789D50 !important;
    display: none;
  }
}
/* line 1085, ../sass/tags.scss */
#main_menu > ul > li > ul {
  background: #417337;
  border-top: 1px solid #e9e4bc;
  display: none;
  left: 0;
  position: absolute;
  top: 45px;
  width: auto;
  z-index: 2;
}
@media (max-width: 768px) {
  /* line 1085, ../sass/tags.scss */
  #main_menu > ul > li > ul {
    border-top-color: #417337 !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}
@media (min-width: 768px) {
  /* line 1100, ../sass/tags.scss */
  #main_menu > ul.menu > li.deeper:hover > ul {
    display: block !important;
  }
}
@media (max-width: 768px) {
  /* line 1105, ../sass/tags.scss */
  #padd_bot_menu ul {
    display: block !important;
    float: left !important;
    clear: both !important;
    text-align: left !important;
  }
}
/* line 1113, ../sass/tags.scss */
div#footer #bottom_menu #padd_bot_menu ul {
  display: inline-table;
  float: right;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
@media (max-width: 768px) {
  /* line 1113, ../sass/tags.scss */
  div#footer #bottom_menu #padd_bot_menu ul {
    padding-bottom: 15px;
  }
}
/* line 1124, ../sass/tags.scss */
div#main_content div.vmPag ul {
  display: table;
}
/* line 1127, ../sass/tags.scss */
div#main_content.left div#user_column div.content_box ul {
  margin-top: -3px;
}
/* line 1130, ../sass/tags.scss */
div#usermenu div.moduletable ul.menu {
  margin-left: 220px;
  margin-top: -3px;
  position: absolute;
}

/* line 1, ../sass/layout.scss */
#header,
#user-go section,
#footer > section {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 6, ../sass/layout.scss */
#content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

/* line 10, ../sass/layout.scss */
#footer {
  padding: 0 5.5%;
}

/* line 13, ../sass/layout.scss */
#page {
  margin: 0 auto;
}

@media (max-width: 630px) {
  /* line 3, ../sass/media-blocks.scss */
  #header-left-side {
    width: 13% !important;
  }

  /* line 6, ../sass/media-blocks.scss */
  #header-right-side {
    width: 87% !important;
  }

  /* line 9, ../sass/media-blocks.scss */
  #header-left-inside {
    display: block !important;
  }
}
@media (max-width: 768px) {
  /* line 12, ../sass/default.scss */
  #add_to_favorite {
    display: block !important;
    padding: 6px 10px !important;
  }
}

/* line 18, ../sass/default.scss */
#authorize {
  background: url(../images/pointer.png) no-repeat 10px;
  float: right;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  height: 26px;
  line-height: 26px;
  margin-right: 20px;
  text-decoration: none;
  padding-left: 24px;
}
/* line 28, ../sass/default.scss */
#user-go #authorize {
  color: #ede297;
}

/* line 32, ../sass/default.scss */
#bid-sum-p {
  border-top: solid 1px #841113;
  border-bottom: solid 1px #841113;
  padding: 10px 0;
}

/* line 37, ../sass/default.scss */
#bids-history {
  border: solid #8A6969 1px;
  max-height: 110px;
  overflow: auto;
}

/* line 42, ../sass/default.scss */
#board {
  bottom: 5px;
  color: #020100;
  font: normal 15px Verdana, Geneva, sans-serif;
  height: 60px;
  left: 30px;
  position: absolute;
  text-align: center;
  width: 225px;
}

/* line 53, ../sass/default.scss */
div#footer #bottom_menu {
  margin: 0 auto;
  text-align: center;
}

/* line 58, ../sass/default.scss */
#clock {
  color: #426e36;
  float: left;
  font: normal 18px Verdana, Geneva, sans-serif;
  left: 10px;
  position: absolute;
  top: 15px;
}

/* line 66, ../sass/default.scss */
#content {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  /* line 66, ../sass/default.scss */
  #content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 76, ../sass/default.scss */
#copyright {
  color: #fbe8b3;
  height: 41px !important;
  line-height: 41px !important;
  float: left;
  font: normal 13.5px/14px calibri, Verdana, Geneva, sans-serif;
  padding-left: 10px;
}
@media (max-width: 768px) {
  /* line 76, ../sass/default.scss */
  #copyright {
    float: right !important;
    height: 18px !important;
    line-height: 18px !important;
    margin-right: 15px;
  }
}

/* line 90, ../sass/default.scss */
#dOutput {
  background-color: #FF9;
  border: solid 2px #CCC;
  border-radius: 6px;
  bottom: 10px;
  display: inline-block;
  max-width: 50%;
  overflow: auto;
  padding: 10px;
  position: fixed;
  top: 40px;
  right: 10px;
}
/* line 102, ../sass/default.scss */
#dOutput * {
  line-height: 19px;
}

/* line 106, ../sass/default.scss */
#footer {
  background-color: #437339;
  border-top: solid #739255;
  overflow: hidden !important;
}
@media (max-width: 768px) {
  /* line 106, ../sass/default.scss */
  #footer {
    height: auto !important;
    padding-top: 10px !important;
  }
}

/* line 116, ../sass/default.scss */
#galleryThumbs {
  margin-top: 5px;
  text-align: center;
  width: 336px;
}

/* line 121, ../sass/default.scss */
#header {
  left: 0;
  min-width: 450px;
  position: relative;
  top: 0;
}
@media (max-width: 768px) {
  /* line 121, ../sass/default.scss */
  #header {
    height: auto;
    background-position-x: 119px;
    margin-right: 15px;
  }
}

/* line 134, ../sass/default.scss */
#header-left-inside {
  -moz-box-shadow: 0 -35px 30px -14px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 -35px 30px -14px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 -35px 30px -14px rgba(0, 0, 0, 0.5) inset;
  display: none;
  height: 79px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

/* line 142, ../sass/default.scss */
#header-left-side,
#header-right-side {
  height: 145px;
}

/* line 146, ../sass/default.scss */
#header-left-side {
  background: url(../images/logo.png) no-repeat 4.5% 45px;
  position: relative;
  width: 46.85%;
}
@media (max-width: 768px) {
  /* line 146, ../sass/default.scss */
  #header-left-side {
    background-position-y: 32px;
  }
}
@media (max-width: 850px) {
  /* line 146, ../sass/default.scss */
  #header-left-side {
    height: 140px;
  }
}

/* line 158, ../sass/default.scss */
#header-right-side {
  background: url(../images/horses.jpg) no-repeat;
  background-size: cover;
  width: 53.15%;
}

/* line 163, ../sass/default.scss */
#left_part {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #172A17;
  float: left;
  font: normal 16px calibri, Verdana, Geneva, sans-serif;
  margin-top: 8px;
  padding-left: 10px;
  padding-top: 0;
  width: 200px;
}
@media (max-width: 768px) {
  /* line 163, ../sass/default.scss */
  #left_part {
    background: url(../images/body_bg.jpg) 0 0 repeat;
    box-shadow: 8px 8px 18px 4px rgba(0, 0, 0, 0.5);
    max-width: 420px;
    position: absolute;
    top: 4px;
    transform: translateX(-114%);
    transition: transform 0.5s ease;
    width: auto;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  /* line 183, ../sass/default.scss */
  #left_part.visible {
    transform: translateX(0);
  }
}

/* line 189, ../sass/default.scss */
#logo-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 50px;
  margin-right: -20px;
  margin-top: -10px;
  overflow: hidden;
  width: 33%;
}
@media (max-width: 768px) {
  /* line 189, ../sass/default.scss */
  #logo-box {
    height: 46px !important;
    line-height: 46px !important;
    padding: 0 19px 0;
    width: 100% !important;
  }
}

/* line 204, ../sass/default.scss */
#logo_img {
  background: url(../../../templates/auction/images/temp/logo2.png) no-repeat center;
  background-size: 100%;
  height: 176px;
  left: 8%;
  position: absolute;
  top: 21px;
  width: 116px;
}
@media (max-width: 768px) {
  /* line 204, ../sass/default.scss */
  #logo_img {
    top: 5px;
    height: 115px;
    left: 12px;
    width: 76px;
  }
}

/* line 219, ../sass/default.scss */
#logo-texts {
  bottom: 29px;
  left: 22%;
  position: absolute;
}
@media (max-width: 630px) {
  /* line 219, ../sass/default.scss */
  #logo-texts {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 219, ../sass/default.scss */
  #logo-texts {
    margin-top: 37px;
  }
}
@media (max-width: 850px) {
  /* line 219, ../sass/default.scss */
  #logo-texts {
    left: 30%;
  }
}

/* line 233, ../sass/default.scss */
#logo-texts-inside {
  position: relative;
}

/* line 236, ../sass/default.scss */
#logIn {
  height: 203px;
  padding-top: 1px;
  position: relative;
  top: 0;
  width: 290px;
}

/* line 243, ../sass/default.scss */
#logIn_wrapper {
  background: url(../images/login.png) 0 0 no-repeat;
}

/* line 246, ../sass/default.scss */
#main_content {
  color: #301f07;
  font: normal 14px/17px Verdana, Geneva, sans-serif;
  padding: 1px 15px;
}
@media (max-width: 768px) {
  /* line 246, ../sass/default.scss */
  #main_content {
    margin-left: 0;
    margin-top: 10px;
    border-top: solid 1px #417337;
  }
}

/* line 256, ../sass/default.scss */
#main_menu {
  background-size: 100% 106%;
  height: 46px;
  left: 0px;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 256, ../sass/default.scss */
  #main_menu {
    background-position: 0 0;
    background: transparent !important;
    background-size: 100% 60px !important;
    height: auto !important;
    overflow: hidden;
  }
}

/* line 271, ../sass/default.scss */
#make_bid {
  margin-top: 30px;
}

/* line 274, ../sass/default.scss */
#mobile-menu-proposal {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 280, ../sass/default.scss */
div#footer #bottom_menu #padd_bot_menu {
  margin-left: 30px;
}
@media (max-width: 768px) {
  /* line 279, ../sass/default.scss */
  #padd_bot_menu {
    margin-left: 15px !important;
    overflow: hidden;
  }
}

/* line 288, ../sass/default.scss */
#page {
  background: url(../images/header.png) repeat-x;
}
@media (max-width: 768px) {
  /* line 288, ../sass/default.scss */
  #page {
    background-position: 0 -26px;
  }
}

/* line 294, ../sass/default.scss */
#pic_top {
  margin-left: 1%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  /* line 294, ../sass/default.scss */
  #pic_top {
    background-position: left bottom;
    height: 117px;
    margin: auto 2px auto auto;
    margin-left: 17px;
    width: 94%;
  }
}

/* line 306, ../sass/default.scss */
#right_part {
  color: #172a17;
  float: right;
  font: normal 16px calibri, Verdana, Geneva, sans-serif;
  width: 290px;
}

/* line 312, ../sass/default.scss */
#sel_bids {
  height: 26px;
}

/* line 315, ../sass/default.scss */
#search_box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 46px;
  margin-right: 6px;
  padding-top: 5px;
  width: 23%;
}
@media (max-width: 768px) {
  /* line 315, ../sass/default.scss */
  #search_box {
    left: 245px;
    position: absolute;
    right: 120px;
    width: initial;
  }
}

/* line 328, ../sass/default.scss */
#tbl-bid-history {
  width: 100%;
}

/* line 331, ../sass/default.scss */
#thanx-page {
  padding: 40px;
}

/* line 334, ../sass/default.scss */
#user-go {
  background-color: #2b4519;
  height: 26px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  left: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 1;
}

/* line 345, ../sass/default.scss */
#your_order {
  margin-bottom: 2px;
  padding-top: 10px;
  text-align: right;
}

/*# sourceMappingURL=default.css.map */
