@import url(styles.less);

.fleft{
	float:left; 
}
.liUserMenu{
	list-style: none;
	padding:10px 0 9px 0;
	text-align: left;
	a{
		font-size: 12px;
		font-weight: bold;
		color: black;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
		&.first-point{
			padding-top:18px;
		}
	}
}
.mxWidth(@max){
	max-width:@max;
}

div#usermenu{
	div.moduletable{
		position:relative;
		ul.menu{
			margin-left: 220px;
			margin-top: -3px;
			position:absolute;
			li{
				.liUserMenu;
				a.H2{
					.thinBrownHeader;
					padding-top:5px;
				}
			}
		}
	}
}

div#main_content.left{
	margin-left:-20px;
	div {
		box-sizing:border-box;
		h2,.H2{
			.thinBrownHeader;
			a {
				text-decoration:none;
			}
		}
		.para{
			margin:20px 0;
		}
	}
	div#your_order{
		margin-bottom:16px;
		margin-top:6px;
		span.text_highlight{
			font-size:13px;
		}
	}
	div#user_column{
		.fleft;
		.mxWidth(140px);
		div.content_box{ background:yellow;
			min-height:157px;
			width:138px;
			ul{
				margin-top:-10px;
				li{
					.liUserMenu;
				}
			}
		}
	}
	div#content_column_wide{
		.fleft;
		.mxWidth(600px);
		padding-left:10px;
		width:600px;
	}
	form#formGoLogout{
		button.button{
			border: none;
			background: none;
			color: @brownDark;
			cursor: pointer;
			font-weight: bold;
			margin-left: 0px;
			padding: 0;
		}
	}
}