@menuBorder: solid 1px #EAD8B0;
.brown{
	color:#841113;
}
.liActive{
	text-decoration:none; 
	color:#e9e4bc;
}
.subMenu{
	color:#fad674; 
	// float:none; 
	font:bold 12px/13px Verdana, Geneva, sans-serif; 
	height:18px; 
	padding:5px; display:block; 
	text-decoration:none; 
	text-transform:uppercase;
}

div#header{
	#main_menu{ 
		padding:30px 0 0 315px; 
		width:675px; 
		background:url(../images/menu_bg.png) left bottom no-repeat; 
		height:44px; 
		top:205px; 
		left:0px; 
		position:absolute;
		ul{
			display:table;
			list-style:none;
			margin:0; 
			margin-top: 6px;
			width: 660px;
			li{
				display:table-cell;
				position:relative; 
				a{
					color:#fad674; 
					font:bold 12px/13px Verdana, Geneva, sans-serif; 
					float:left; 
					height:23px; text-decoration:none; text-transform:uppercase
				}
				a:hover{
					.liActive;
				}
				ul{
					display:none; 
					position:absolute; 
					top:20px; 
					left:0; 
					width:auto; 
					background:#417337; 
					border-top:1px solid #e9e4bc;
					li{
						display:block;
						padding-right: 8px;
						white-space:nowrap;
						// float:none; 
						// padding:0px;  												
						a{
							border-bottom:1px solid #e9e4bc;
							.subMenu;
							padding-bottom:0px !important;
							width:100%;
						}
						a:hover{
							.liActive;
						}
					}
				}
			}
			li:hover{ 
				ul{
					display:block;
				}
			}
			li.active{
				.liActive;
				ul {
					li {
						a{
							.subMenu;
						}
					}
					li.active{
						a{
							.subMenu;
							.liActive;
						}
					}
				}
				a{
					.subMenu;
					.liActive;
				}
			}
		}
	}
}

div#content{
	div#main_content{
		
		table.category{
			
			td{
				font-weight:bold;
				padding-top:15px;
			}
		}
	}
}
div#footer{
	background:url(../images/footer.png) 0 0 no-repeat; 
	height:20px; 
	padding-top:24px; 
	position:relative;
	#copyright{
		color:#fbe8b3;
		display:inline-block;
		float:left; 
		font:normal 13px/14px calibri, Verdana, Geneva, sans-serif; 
		margin-left:50px;
		top:24px; 
	}
	#bottom_menu{
		text-align:center; 
		margin:0 auto;
	}
	#bottom_menu {
		#padd_bot_menu{
			margin-left:30px;
			ul{
				margin:0; 
				padding:0; 
				list-style:none; 
				overflow:hidden; 
				display:inline-table; 
				li{
					display:table-cell;
					a{
						border-left: @menuBorder;
						border-right: @menuBorder;
						color:#ead8b0; 
						font: 13px calibri, Verdana, Geneva, sans-serif; 
						margin: 0 1px;
						padding:0 6px;
						text-decoration:none; 
						text-transform:uppercase; 
					}
					a:hover{
						text-decoration:none;
					}
				}
			}
			div#mailru_counter{
				display:inline-block;
				float:right;
				margin-right:40px;
				width:auto;
			}
		}
	}
}