@brown:#841113;
@brownDark:#851719;
@brownDarkUltra:#6d4721;
@veryDarkLink:#172A17;
@menuBorder: solid 1px #EAD8B0;

.h3upper{
	color:@brownDark;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	text-transform: uppercase;
}
.liActive{
	text-decoration:none; 
	color:#e9e4bc;
}
.subMenu{
	color:#fad674; 
	font:bold 12px/13px Verdana, Geneva, sans-serif; 
	height:18px; 
	padding:5px; display:block; 
	text-decoration:none; 
	text-transform:uppercase;
}

div#header{
	#main_menu{ 
		padding:20px 0 0 315px; 
		width:675px; 
		background:url(../images/menu_bg.png) left bottom no-repeat; 
		height:50px; 
		left:0px; 
		margin-top:-2px;
		ul{
			display:table;
			list-style:none;
			margin:0; 
			margin-top: 16px;
			width: 660px;
			li{
				display:table-cell;
				position:relative; 
				a{
					color:#fad674; 
					font:bold 12px/13px Verdana, Geneva, sans-serif; 
					float:left; 
					height:23px; text-decoration:none; text-transform:uppercase;
					&:hover{
						.liActive;
					}
				}
				ul{
					display:none; 
					position:absolute; 
					top:6px; 
					left:0; 
					width:auto; 
					background:#417337; 
					border-top:1px solid #e9e4bc;
					li{
						display:block;
						padding-right: 8px;
						white-space:nowrap;
						a{
							border-bottom:1px solid #e9e4bc;
							.subMenu;
							padding-bottom:0px !important;
							width:100%;
							&:hover{
								.liActive;
							}
						}
						
					}
				}
				&:hover{ 
					ul{
						display:block;
					}
				}
				&.active{
					.liActive;
					ul {
						li {
							a{
								.subMenu;
							}
						}
						li.active{
							a{
								.subMenu;
								.liActive;
							}
						}
					}
					a{
						.subMenu;
						.liActive;
						padding:0;
						margin-bottom:5px;
					}
				}
			}			
		}
	}
	div#search_box{
		float:right;
		position:absolute;
		right:30px;
		top:10px; 
		div.search{
			label{
				display:none;
			}
			input.inputbox{
				background-color:lemonchiffon;
			}
		}
	}
}

div#content{
	#right_part{
		color:#172a17; 
		float:right; 
		font:normal 16px calibri, Verdana, Geneva, sans-serif; 
		width:290px; 
		h3{
			color:#6d4721; 
			margin:10px 0; 
			font:normal 18px Verdana, Geneva, sans-serif; 
			color:#6d4721; 
			text-transform:uppercase;
			span{
				color:#6d4721;
			}
		}
		p{
			margin:10px 0;
		}
		span{
			color:@brownDark;
		}
		a{
			color:@brownDark; 
			text-decoration:underline;
			&:hover{
				text-decoration:none;
			}
		}
		div[class*="-acy_subscribe"]{
			div.acymailing_module_form{
				width:200px;
			}
			h3{
				color:@brownDark;
			}
			table.acymailing_form{
				td{
					text-align:left;
				}
			}
		}
		div[class*="-go_catalogues"]{
			div.custom-go_catalogues{
				h3{
					margin:24px 0 auto auto;
				}
				a{
					color:@brownDark;
					text-transform:uppercase;
				}
			}
		}
	}
	#left_part{
		box-sizing:border-box;
		margin-top: -18px;
		padding-left:10px;
		padding-top: 0;
		h3{
			color: @brown;
			font-size:18px;
			font-weight:bold;
			margin: 5px 0px 4px 0px;
			text-transform:none;
			a{
				font-size: 18px;
				text-decoration: none;
			}
			.lots_count{
				color:@veryDarkLink;
				font-weight:300;
			}
		}
		ul{
			li{
				color:@brownDark;
				a{
					color:@veryDarkLink;
					font-weight: bold;	
					text-decoration: none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
	}
	div#main_content{
		
		table.category{
			
			td{
				font-weight:bold;
				padding-top:15px;
			}
		}
	}
}
div#footer{
	background:url(../images/footer.png) 0 0 no-repeat; 
	height:20px; 
	padding-top:24px; 
	position:relative;
	#copyright{
		color:#fbe8b3;
		display:inline-block;
		float:left; 
		font:normal 13px/14px calibri, Verdana, Geneva, sans-serif; 
		margin-left:50px;
		top:24px; 
	}
	#bottom_menu{
		text-align:center; 
		margin:0 auto;
	}
	#bottom_menu {
		#padd_bot_menu{
			margin-left:30px;
			ul{
				margin:0; 
				padding:0; 
				list-style:none; 
				overflow:hidden; 
				display:inline-table; 
				li{
					display:table-cell;
					a{
						border-left: @menuBorder;
						border-right: @menuBorder;
						color:#ead8b0; 
						font: 13px calibri, Verdana, Geneva, sans-serif; 
						margin: 0 1px;
						padding:0 6px;
						text-decoration:none; 
						text-transform:uppercase;
						&:hover{
							text-decoration:none;
						}						
					}
				}
			}
			div#mailru_counter{
				display:inline-block;
				float:right;
				margin-right:40px;
				width:auto;
			}
		}
	}
}