
<div style="width:100%; background-color:#454545; padding-bottom:20px; color:#ffffff;" align="center">
	<div class="acymailing_online">{readonline}This e-mail contains graphics, if you don't see them <strong>»view it online.</strong>{/readonline}</div>

	 <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:auto; background-color:#ffffff; color:#454545;">
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="30" style="background-color:#ffffff">&nbsp;</td>
						<td width="386" style="font-family:Times New Roman, Times, serif; background-color:#ffffff"><h1>Your e-mail title</h1> <br/> <h3>Subtitle</h3></td>
						<td width="184" style="line-height:0px; background-color:#ffffff"><img src="media/com_acymailing/templates/newsletter-5/logo.png" height="96" width="184" alt="logo" /></td>
					</tr>
					<tr>
						<td colspan="3" width="600" height="31" valign="top" style="line-height:0px; background-color:#e4e4e4"><img src="media/com_acymailing/templates/newsletter-5/header.png" width="600" height="31" alt="---" /></td>
					</tr>
						<tr>
						<td colspan="3" width="600" height="31" valign="top" style="line-height:0px; background-color:#ffffff"><img src="media/com_acymailing/templates/newsletter-5/banner.png" width="600" height="217" alt="banner" /></td>
					</tr>
						<tr>
						<td colspan="3" width="600" height="31" valign="top" style="line-height:0px;"><img src="media/com_acymailing/templates/newsletter-5/separator.png" height="21" width="600" alt="---" /></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="30" style="background-color:#ffffff">&nbsp;</td>
						<td width="540" style="text-align:justify; color:#575757; font-family:Times New Roman, Times, serif; font-size:13px; background-color:#ffffff">
							<h2>Interviews and reports</h2>
							<span class="dark">Lorem ipsum dolor sit amet, consectLorem ipsum dolor sit amet.</span><br/>
							consectetur adipiscing elit. Aenean sollicitudin orci sit amet urna lla pretium ut. Sed elementum convallis mi. Vivamus elementum.ed elementum convallis mi. <a href="#">Vivamus elementum</a>.Lorem ipsum dolor sit amet.<br/> <br/>
							cLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sollicitudin orci sit amet urna lla pretium ut. Sed elementum convallis mi. Vivamus elementum. <br /><br />
							<span class="acymailing_readmore">Read More</span>
							<br /><br />

							<h2>Journalism around the world</h2> <span class="dark">Lorem ipsum dolor sit amet, consectLorem. consectetur adipiscing elit. Aenean sollicitudin orci sit amet urna lla pretium ut. Sed elementum.</span> consectetur adipiscing elit. Aenean sollicitudin orci sit amet urna lla pretium ut. Sed elementum convallis mi. Vivamus elementum.ed elementum convallis mi. <br /><br />Vivamus elementum.<a href="#">Lorem ipsum dolor</a> sit amet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br /><br />
							<span class="acymailing_readmore">Read More</span>
						</td>
						<td width="30" style="background-color:#ffffff">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="600" height="14" style="background-color:#ffffff"><img src="media/com_acymailing/templates/newsletter-5/footer1.png" width="600" height="14" alt="--" /></td>
					</tr>
					<tr>
						<td width="600" style="text-align:center; background-color:#ebebeb;  color:#454545; font-family:Times New Roman, Times, serif; font-size:13px" height="25" class="acyfooter"><a href="#">www.mywebsite.com</a> |  <a href="#">contact</a> | <a href="#">Facebook</a> | <a href="#">Twitter</a></td>
					</tr>
					<tr>
						<td width="600" height="7" style="background-color:#454545;"><img src="media/com_acymailing/templates/newsletter-5/footer2.png" width="600" height="7" alt="--" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div class="acymailing_unsub">{unsubscribe}If you’re not interested any more  <strong>» unsubscribe</strong>{/unsubscribe}</div>
</div>
